/* padding: clamp(2em, calc((100dvw - 2095px) / 2), calc(100dvw / 2)); */

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    font: inherit;
}

body,
input,
button,
textarea,
select,
table,
i {
    box-sizing: inherit;
    font: inherit;
}

html {
    box-sizing: border-box;
    font: clamp(14px, 1dvh, 18px) / 1.4 Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin-bottom: 0.5em;
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.6em;
}

body {
    min-height: 100dvh;
}

@media (max-width: 600px) {
    nav ul {
        display: none;
    }

    nav .checkbtn {
        display: block;
        order: 1;
    }

    .site-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }

    .site-header > i,
    h1 {
        text-align: center;
        position: unset;
        bottom: unset;
    }

    .site-header > i {
        left: unset;
    }

    .fa-3x {
        font-size: 3.5em;
    }

    .about {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .about-header {
        text-align: center;
        position: unset;
        width: initial;
        display: flex;
        flex-direction: column;
        flex: 1 1 45%;
        gap: 1rem;
    }

    .about-text {
        flex: 1 1 45%;
        width: initial;
        display: initial;
        margin-left: 0;
        line-height: 2.3;
        overflow: hidden;
        word-wrap: break-word;
    }

    .p-50 {
        padding-left: 0;
    }

    .gallery {
        margin: unset;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}
