:root {
    --clr-white: #fff;
    --clr-body-bg: #F5F5F5;
    --clr-black: #080808;
    --clr-text: #999692;
    --clr-green: #3f8e00;
    --clr-footer-text: #525252;
    --clr-header-bg: #1b1b1b;
    --border-radius: 1.2rem;
}
