.button {
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  padding: 8px;
  line-height: 1.5;
}

.button.register, .button.login {
  width: 100%;
}

.button.login {
  margin-top: 20px;
}

.button.pink {
  background-color: pink;
  border: 1px solid #fc8eac;
}

.button.pink:hover {
  background-color: white;
}
