.button {
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  width: auto;
  min-width: 24ch;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  padding: 1vh;
  line-height: 1.5;
}


.button.pink {
    background-color: pink;
    border: 1px solid #fc8eac;
}

.button.pink:hover {
    background-color: white;
}
