.input-field-container input[type="text"],
.input-field-container input[type="password"],
.input-field-container input[type="email"] {
  border: none;
  min-width: 50ch;
}

.input-field-container input[type="text"]:focus,
.input-field-container input[type="password"]:focus,
.input-field-container input[type="email"]:focus {
  outline: none;
}


.filed-container {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border: 1px solid #fc8eac;
  padding: 4px;
 
}

.filed-container {
  margin-bottom: 42px;
}

.placeholder {
  padding: 12px;
  margin: 0;
  display: block;
  cursor: pointer;
  font-size: 14px;
}

.placeholder-on-blur {
  font-size: 6px;
}

.input-spot {
  padding: 0;
  margin: 0;
  background-color: black;
  padding: 4px;
  margin-left: 12px;
}














.form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 8vh;
  margin-bottom: 8vh;
  gap: 6vw;
  height: calc(60vh - 84px);
}

.form-vertical-line {
  border-left: 1px solid pink;
  height: calc(60vh - 84px);
}

.form-item {
  padding-bottom: 32px;
}

.form-item:last-child {
  padding-bottom: 4vh;
}

.form-item-list {
  padding-bottom: 0.1vh;
}

.form-item-list:last-child {
  padding-bottom: 4vh;
}



.form-item input:hover {
  background-color: #fc8eab2a;
}

input::-webkit-input-placeholder {
  padding: 2vh;
}

.form-list {
  list-style-type: circle !important;
  margin-left: 2vw !important;
}
