* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.card {
  max-width: 300px;
  margin: 2em auto;
  display: block;
  overflow: hidden;
  border-radius: 0.3rem;
  background: white;
  text-decoration: none;
  color: black;
}

.card span {
  display: block;
}

.main,
.footer {
  padding: 1em;
}
span strong {
  font-size: 18px;
}
.desc {
  margin-top: 0.5em;
}

.footer span:first-of-type {
  font-weight: 600;
}

.footer span:nth-of-type(2) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
