.container {
    display: flex;
    justify-content: center;
}

li {
    display: flex;
    background: white;
    padding: 1em;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

img {
    width: 100%;
    height: auto;
    padding: 1em;
    display: block;
}

.gallery {
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.gallery li {
    flex: 0 1 300px;
}
