section p {
  color: pink;
}

.main-list > li {
  font-size: 22px;
}

.secondary-list > li {
  font-size: 18px;
}

article + article {
  background-color: chocolate;
}

h2 ~ p {
  color: aquamarine;
}

ul li {
  list-style-type: none;
}

.main-list li:nth-child(2) {
  color: orange;
}

.secondary-list li a {
  color: pink;
}

.secondary-list li:nth-child(3) a {
  color: green;
}
