.container {
    background: white;
    padding: 2em;
    /* width: 100dvw;
    max-width: 30em; */
}

fieldset {
    border: none;

    label,
    button,
    legend {
        font-weight: 700;
    }

    legend {
        padding-bottom: 1em;
        margin-bottom: 1em;
        border-bottom: 2px solid lightgray;
        font-size: 1.4em;
    }

    .field {
        display: flex;
        flex-direction: column;
        padding-bottom: 1em;
    }

    label {
        order: -1;
        position: relative;
    }

    label::after {
        content: '*';
        color: red;
        padding-left: 0.25em;
    }

    input,
    button {
        border-radius: 0.2em;
    }

    input {
        border: 2px solid lightgray;
        padding: 0.25em;
    }

    button {
        background: orange;
        color: white;
        border: none;
        cursor: pointer;
        display: block;
        width: 100%;
        padding: 0.5em 1em;
    }
}
