@media(max-width:600px) {
    header nav {
        flex-direction: column;
        gap: 0.5em;
    }

    .our-dogs ul {
        justify-content: initial;
        column-gap: 4em;
        row-gap: 0.5em;
    }

    .our-dogs ul li {
        flex: 1 1 40%;
    }

    .our-dogs ul li img {
        width: 100%;
        height: auto;
        padding: unset;
        aspect-ratio: 1/1;
    }

    .helpNeed ul {
        flex-direction: column;
    }
}