section {
    width: 500px;
}
.flex-container {
    display: flex;
    border: 1px solid blue;
    padding: 1em;
}
.flex-item {
    background-color: lightgrey;
    padding: 1em;
    border: 1px solid black;
}

.flex-container.row-reverse {
    flex-direction: row-reverse;
}

.flex-container.column {
    flex-direction: column;
}

.flex-container.column-reverse {
    flex-direction: column-reverse;
}