.app {
  display: grid;
  margin: 0px;
  padding: 0px;
  font-size: 0px;
  line-height: 1.5;
  letter-spacing: 1.2px;
  font-family: FranklinGothic;
  background-color: white;
  grid-template-columns: 100vw;
  grid-template-rows: 18vh auto 6vh;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.main {
  grid-area: main;
  color: #040720;
  padding: 42px 96px;
  font-size: 16px;
}



