* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1280px;
    font: 14px/1.5 Lato, sans-serif;
    background: lightgray;
    padding: 2em;
}

.container {
    background: white;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

div {
    margin-bottom: 2em;
}

header, main, aside, footer {
    border: 1px solid gray;
    border-radius: 0.3em;
    padding: 1em;
}

header {
    flex: 1 1 100%;
}

main {
    flex: 1 1 70%;
}

aside {
    flex: 1 1 auto;
}

footer {
    flex : 1 1 100%;
}

.order header {
    order: 1;
}

.order aside {
    order: 2;
}

.order main {
    order: 3;
}

.order footer {
    order: 4;
}