/* padding-left: clamp(9.4em, calc(100dvw - 2560px / 2 * 2), calc(100dvw / 2));
padding-right: clamp(2.35em, calc((100dvw - 2560px) / 2), calc(100dvw / 2)); */

@import url('');

:root {
    --clr-white: #fff;
    --clr-black: #000;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    font: inherit;
    color: inherit;
}

body,
input,
button,
textarea,
select,
table,
i,
a {
    box-sizing: inherit;
    font: inherit;
    color: inherit;
}

img,
a {
    display: block;
}

img {
    width: 100%;
    height: auto;
}

strong {
    font-weight: 700;
}

em {
    font-style: italic;
}

html {
    box-sizing: border-box;
    /* font: clamp(11px, 11px + 0.4dvw, 22px) / 1.5 'Tisa Sans Pro', sans-serif; */
    /* color: */
}

h1 {
    font-size: 3.2em;
}

h2 {
    font-size: 2.4em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.6em;
}

h5 {
    font-size: 1.4em;
}

h6 {
    font-size: 1.2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin-bottom: 0.5em;
}

p {
    padding-bottom: 1.5em;
}

body {
    min-height: 100dvh;
    /* display: flex;
    flex-direction: column; */
}

/* .site-layout {
    padding: 0 clamp(2dvh, calc((100dvw - 1805px) / 2), calc(100dvw / 2));
} */

.media {
    display: flex;
}
