body {
    background: #fffdf6;
    padding: 2em;
}

.flexbox,
.flexbox .section {
    display: flex;
    flex-direction: column;
}

.flexbox {
    max-width: 50dvw;
    margin: 0 auto;
    gap: 1.5rem;
}

.flexbox .section {
    gap: 0.25rem;
}

.flexbox .section h2 {
    font-weight: 400;
    font-size: 1.2em;
    font-variant-caps: small-caps;
}

.flexbox .section .wrapper,
.flexbox .section .wrapper .box {
    border-radius: 0.5rem;
}

.flexbox .section .wrapper {
    display: flex;
    flex: 0 1 50%;
    background: #ffecdf;
    border: 0.05rem dotted pink;
    padding: 1em;
    gap: 0.5rem;
}

.flexbox .section .wrapper.flex-direction-row-reverse {
    flex-flow: row-reverse;
}

.flexbox .section .wrapper.flex-direction-column {
    flex-direction: column;
}

.flexbox .section .wrapper.flex-direction-column-reverse {
    flex-flow: column-reverse;
}

.flexbox .section .wrapper .box {
    padding: 1em;
    border: 0.05rem solid gray;
    text-align: center;
}
