{% extends 'base/base.html' %}
{% block page_content %}
    <section class="hero">
        <img class="hero__img"
             src="https://res.cloudinary.com/deztgvefu/image/upload/v1706337258/template_images/fifty_incredibles_pink_b_i0m1in.webp"
             alt="image">
        <div class="wrapper">
        <h1 class="hero__title">
            Your profile has been successfully deleted.
        </h1>
        <h2 class="hero__subtitle">
            We appreciate your time with us and hope to serve you again in the future. If you have any feedback, feel free to share. Thank you and farewell!
        </h2>
        </div>
    </section>
{% endblock %}

