body {
    border: 2px solid green;
    display: flex;
    min-height: 100dvh;
    padding: 2em;
    flex-direction: column;
    gap: 1em;
}

body > * {
    border: 1px solid blue;
    padding: 1em;
}

main {
    flex-grow: 1;
}