@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    font: inherit;
}

body,
input,
button,
textarea,
select,
table,
i {
    font: inherit;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font: clamp(14px, 1dvh, 18px) / 1.4 'Source Sans 3', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin-bottom: 1em;
}

h1 {
    font-size: 2.8em;
}

h2 {
    font-size: 2.2em;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.6em;
}

h5 {
    font-size: 1.4em;
}

h6 {
    font-size: 1.2em;
}

/* task styles */

body {
    min-height: 100dvh;
    background: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    font: clamp(14px, 2vh, 18px) / 1.4 'Source Sans 3', sans-serif;
    padding: clamp(2em, calc((100dvw - 2095px) / 2), calc(100dvw / 2));
    color: #585858;
}

.container {
    flex: 1 1 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
}

main {
    flex: 1 1 60%;
}

aside {
    flex: 1 1 20%;
}

footer {
    flex: 1 1 100%;
}

main h2 {
    margin-bottom: 2.5em;
}

main h2,
aside h2 {
    letter-spacing: 0.4em;
}

form {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 3.5rem;
}

.field {
    display: flex;
    flex-direction: column;
    position: relative;
    opacity: 0.9;
    font-weight: 300;
}

form .field:nth-child(3) {
    flex: 1 1 100%;
}

form .field:nth-child(1),
form .field:nth-child(2) {
    flex: 1 1 calc(50% - 2rem);
}

.field label {
    order: -1;
    position: absolute;
    top: -0.5rem;
    left: 0;
}

.field textarea + label {
    top: -0.9rem;
}

input[type='text'],
input[type='email'],
textarea {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 0.063rem solid #c2c2c2;
    background: transparent;
}

input[type='submit'] {
    border: 0.063em solid #585858;
    background: #585858;
    color: #fff;
    padding: 1em 2em;
    border-radius: 0.2em;
    margin-top: -0.9em;
    font-size: 1.2em;
}

h2,
input[type='submit'] {
    font-weight: bold;
    text-transform: uppercase;
}

input[type='submit'] {
    letter-spacing: 0.3rem;
}

aside .icons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

aside .icons .icon {
    flex: 0 1 calc(25% - 1rem);
    border: 0.125rem solid #c2c2c2;
    border-radius: 0.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1.5/1;
}

aside .icons .icon i {
    font-size: 2.2em;
}

footer {
    display: flex;
    gap: 2em;
}

footer p {
    opacity: 0.7;
    font-weight: 300;
    font-size: 1.2em;
}

footer p strong {
    color: #5b6161;
    font-weight: 400;
    opacity: 1;
    text-decoration: underline;
}
