* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font: 14px/1.2 Verdana, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font: inherit;
    padding: 2em;
    background: lightblue;
}

.card {
    display: block;
    width: 300px;
    margin: 0 auto;
    background: white;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.4);
    border-radius: 0.3em;
    overflow: hidden;
    text-decoration: none;
    color: gray;
}

.card span, .card-img {
    display: block;
}

.card .media img {
    width: 100%;
    height: auto;
}

.card .main, .card .footer {
    padding: 1em;
}

.card .footer span:nth-child(1){
    font-weight: bold;
}

.card .footer span:nth-child(2){
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}