.container {
    max-width: 40em;
    margin: 2em auto;
}

fieldset:nth-child(1){
    margin-bottom: 2em;
}

.field {
    display: flex;
    align-items: center;
}

.field:first-of-type {
    margin-bottom: 1em;
}

input {
    outline: none;
    appearance: none;
}

input[type='radio']{
    width: 3em;
    aspect-ratio: 1/1;
    background: orange;
    border-radius: 50%;
    position: relative;
}

input[type='radio']::before {
    content: '';
    position: absolute;
    width: 2em;
    background: white;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 0.1em solid darkorange;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type='radio']:checked::after {
    content: '';
    position: absolute;
    width: 1em;
    background: green;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 0.1em solid darkgreen;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type='checkbox']{
    width: 2em;
    border-radius: 0.3em;
    aspect-ratio: 1/1;
    border: 0.1em solid orange;
    position: relative;
    display: flex;
    align-items: center;
}

input[type='checkbox']::before {
    content: '\2713';
    position: absolute;
    color: green;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

/* input[type='checkbox']::after {
    content: '';
    position: absolute;
    left: calc(50% - 0.25em);
    transform: translate(-50%, -50%);
    font-size: 2em;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    height: 0.5em;
    width: 0.1em;
    background: black;
    transform: rotate(-21.5deg); 
    border-top-left-radius: 150%;
    border-top-right-radius: 150%;
    border-bottom-left-radius: 300%;
    bottom: 0;
    overflow: hidden;
    display: inline-block;
} */

input[type='checkbox']:checked::before  {
    opacity: 1;
}

input[type='checkbox']:checked::after  {
    opacity: 1;
}



