{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
{#    <style>#}
{#                body, html {#}
{#            margin: 0;#}
{#            padding: 0;#}
{#        }#}
{#    </style>#}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fine Jewelries</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/fonts.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'cursor/cursor.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'icons/icons.css' %}">
</head>
<body>
    <header>
        <h1>FINE JEWELRIES</h1>
        {% include 'base/partials/nav.html' %}
    </header>
<main>
    {% block page_content %}
    {% endblock %}
</main>
    <footer>
        <div class="footer-content">
            © 2024 Fine Jewelries | Beatris Ilieve | beatrisilieve@icloud.com
        </div>
    </footer>
</body>
</html>

