{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fine Jewelries</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/colors.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fonts.css' %}">
    {#    <link rel="stylesheet" href="{% static 'cursor/cursor.css' %}">#}
    <link rel="stylesheet" href="{% static 'icons/icons.css' %}">
</head>
<body>
<header class="header">
    <img class="logo-image"
         src="https://res.cloudinary.com/deztgvefu/image/upload/v1706426486/template_images/cute-little-pink-cat-watercolor-png_2_kxmwtq.webp"
         alt="Logo">
    {#    <h1 class="logo-text">FINE JEWELRIES</h1>#}
    <span class="logo-title">FINE JEWELRIES</span>
    <nav class="navigation">
        <ul class="dropdown" role="list" tabindex="0">
            {#        <span>BY CATEGORY<i class="fa-solid fa-sort-down"></i></span>#}
            <li class="nav-item">
                BY CATEGORY<i class="fa-solid fa-sort-down"></i>
            </li>
            <li class="dropdown-content">
                {% for category, title in categories_by_choices.items %}
                    <a href="{% url 'display_jewelries_by_category' selected_pk=category.pk %}">{{ title }}</a>
                {% endfor %}
            </li>
        </ul>
        <ul class="dropdown" role="list" tabindex="0">
            {#        <span>BY METAL<i class="fa-solid fa-sort-down"></i></span>#}
            <li class="nav-item">
                BY METAL<i class="fa-solid fa-sort-down"></i>
            </li>
            <li class="dropdown-content">
                {% for metal, title in metals_by_choices.items %}
                    <a href="{% url 'display_jewelries_by_metal' selected_pk=metal.pk %}">{{ title }}</a>
                {% endfor %}
            </li>
        </ul>
        <ul class="dropdown" role="list" tabindex="0">
            {#        <span>BY GEMSTONE<i class="fa-solid fa-sort-down"></i></span>#}
            <li class="nav-item">
                BY GEMSTONE<i class="fa-solid fa-sort-down"></i>
            </li>
            <li class="dropdown-content">
                {% for stone_type, title in stone_types_by_choices.items %}
                    <a href="{% url 'display_jewelries_by_stone_type' selected_pk=stone_type.pk %}">{{ title }}</a>
                {% endfor %}
            </li>
        </ul>
        <ul class="dropdown" role="list" tabindex="0">
            {#        <span>BY COLOR<i class="fa-solid fa-sort-down"></i></span>#}
            <li class="nav-item">
                BY COLOR<i class="fa-solid fa-sort-down"></i>
            </li>
            <li class="dropdown-content">
                {% for stone_color, title in stone_colors_by_choices.items %}
                    <a href="{% url 'display_jewelries_by_stone_color' selected_pk=stone_color.pk %}">{{ title }}</a>
                {% endfor %}
            </li>
        </ul>
    </nav>
    <div class="icon-container">
        <div class="icon-item">
        <form action="{% url 'search_bar' %}?page={{ page_obj.number }}">
            <input type="checkbox" id="search-toggle" class="search-toggle">
            <input class="search" name="search" value="{{ search }}">
            <label for="search-toggle" class="search-icon">
                <i class="fa-solid fa-magnifying-glass"></i>
            </label>
        </form>
    </div>
    {% if likes_count > 0 %}
        <div class="icon-item">
            <a href="{% url 'display_liked_jewelries' %}">
                <i class="fa-regular fa-heart"><span class="likes-count-nav">({{ likes_count }})</span></i>
            </a>
        </div>
    {% else %}
        <div class="icon-item">
            <a href="{% url 'display_liked_jewelries' %}">
                <i class="fa-regular fa-heart"></i>
            </a>
        </div>
    {% endif %}
    {% if cart_count > 0 %}
        <div class="icon-item">
            <a href="{% url 'view_shopping_cart' %}">
                <i class="fa-solid fa-basket-shopping"><span class="cart-count-nav">({{ cart_count }})</span></i>
            </a>
        </div>
    {% else %}
        <div class="icon-item">
            <a href="{% url 'view_shopping_cart' %}">
                <i class="fa-solid fa-basket-shopping"></i>
            </a>
        </div>
    {% endif %}
    {% if not request.user.is_authenticated %}
        <div class="icon-item">
            <a href="{% url 'login_user' %}">
                <i class="fa-regular fa-user"></i>
            </a>
        </div>
    {% else %}
        <div class="icon-item">
            <a href="{% url 'my_orders' pk=request.user.pk %}">
                <i class="fa-solid fa-clock-rotate-left"></i>
            </a>
        </div>
        <div class="icon-item">
            <a href="{% url 'update_user' pk=request.user.pk %}">
                <i class="fa-regular fa-user"></i>
            </a>
        </div>
        <div class="icon-item">
            <a href="{% url 'logout_user' %}">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
            </a>
        </div>
    {% endif %}
    </div>
</header>
<main>
    {% block page_content %}
    {% endblock %}
</main>
<footer class="footer-content">
    <div>
        © 2024 Fine Jewelries | Beatris Ilieve | beatrisilieve@icloud.com
    </div>
</footer>
</body>
</html>

