{% extends 'base/base.html' %}
{% load dict %}
{% load forms %}
{% load static %}
{% block page_content %}
    <section class="login-or-register">
        <div class="log-in">
            <h2>Registered Customers</h2>
            <h4>Please Sign In to access your account</h4>
            <form action="{% url 'login_user' %}" method="post">
                {{ form.as_p }}
                <input type="hidden" value="{{ next }}" name="next"/>
                <button class="button hover filled_blue">
                    <i class="fa-solid fa-arrow-right-to-bracket"></i> Login
                </button>
                {% csrf_token %}
            </form>
        </div>
        {#        <div class="vl"></div>#}
        <div class="register">
            <h2>New Customers</h2>
            <h4>Register with <i>FINE JEWELRIES</i> for the following benefits:</h4>
            <ul>
                <li>Faster checkout</li>
                <li>Access your order status</li>
                <li>View order history</li>
                <li>Enjoy the convenience of saving your wishlist permanently</li>
            </ul>
            <a href="{% url 'register_user' %}?next={{ next }}" class="button hover filled_green">
                <i class="fa-solid fa-user-plus"></i> Register
            </a>
        </div>
    </section>
{% endblock %}


{#{% extends 'base/base.html' %}#}
{#{% load dict %}#}
{#{% load forms %}#}
{#{% load static %}#}
{#{% block page_content %}#}
{#    <section class="half-container">#}
{#        <div >#}
{#            <h2>Registered Customers</h2>#}
{#            <h4>Please Sign In to access your account</h4>#}
{#            <form action="{% url 'login_user' %}" method="post">#}
{#                {{ form.as_p }}#}
{#                <input type="hidden" value="{{ next }}" name="next"/>#}
{#                <button class="button hover filled_blue">#}
{#                    <i class="fa-solid fa-arrow-right-to-bracket"></i> Login#}
{#                </button>#}
{#                {% csrf_token %}#}
{#            </form>#}
{#        </div>#}
{#        <div>#}
{#            <h2>New Customers</h2>#}
{#            <h4>Register with <i>FINE JEWELRIES</i> for the following benefits:</h4>#}
{#            <ul>#}
{#                <li>Faster checkout</li>#}
{#                <li>Access your order status</li>#}
{#                <li>View order history</li>#}
{#                <li>Enjoy the convenience of saving your wishlist permanently</li>#}
{#            </ul>#}
{#            <div>#}
{#                <a href="{% url 'register_user' %}?next={{ next }}" class="button hover filled_green">#}
{#                    <i class="fa-solid fa-user-plus"></i> Register#}
{#                </a>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
{#{% endblock %}#}