{% extends 'base/base.html' %}
{% load dict %}
{% load static %}
{% block page_content %}
    <div class="register-container">
        <h2>New Customer</h2>
        <form
                action="{% url 'register_user' %}"
                method="post">
            <p>{{ form.email }}</p>
            <p>{{ form.password1 }}</p>
            <p>{{ form.password2 }}</p>
            <p>{{ form.consent }} I agree to the terms and conditions</p>
            <h3> Password Requirements: </h3>
            {{ form.password1.help_text }}
            <input type="hidden" value="{{ next }}" name="next"/>
            <div>
                <button class="register-button button filled_green">Register</button>
            </div>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}