{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <form method="post">
        <div class="fieldset-container-update">
            <fieldset class="fieldset-content">
                <legend class="fieldset-title">Change Password</legend>
                <ul role="list">
                    <li class="fieldset-element">
                        {{ form.old_password.label }}
                    </li>
                    <li class="fieldset-element">
                        {{ form.old_password }}
                    </li>
                    <li class="fieldset-element">
                        {{ form.new_password1.label }}
                    </li>
                    <li class="fieldset-element">
                        {{ form.new_password1 }}
                    </li>
                    <li class="fieldset-element">
                        {{ form.new_password2.label }}
                    </li>
                    <li class="fieldset-element">
                        {{ form.new_password2 }}
                    </li>
                </ul>
                <button type="submit" class="button hover filled_green">
                    <i class="fa-solid fa-user-plus"></i> Change Password
                </button>
                {% csrf_token %}
            </fieldset>
        </div>
    </form>
    {% include 'error-messages/error-messages.html' %}
{% endblock %}

{#{% extends 'base/base.html' %}#}
{#{% load static %}#}
{#{% block page_content %}#}
{#  <h2>Change Password</h2>#}
{#  <form method="post">#}
{#    {% csrf_token %}#}
{#    {{ form.as_p }}#}
{#    <button type="submit">Change password</button>#}
{#  </form>#}
{#{% endblock %}#}

{#action="{% url 'update_password' pk=object.pk %}"#}



