.mini-bag-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: black;
  opacity: 0.3;
  height: 100vh;
}

.mini-bag-dialog {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 1060;
  width: 560px;
  background-color: white;
  overflow-y: auto;
  animation: slideIn 1s forwards;
  transition: opacity 0.8s ease, transform 0.8s ease;
}

@keyframes slideIn {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

.modal-header {
  display: flex;
  justify-content: space-between;
}

#xMark {
  cursor: pointer;
}
.x-mark {
  padding: 20px;
  color: rgba(0, 0, 0, 0.413);
  height: 20px;
}

.popup-title {
  font-size: 24px;
  padding: 20px;
  text-align: left;
  font-weight: 400;
  letter-spacing: 0;
  margin: 0;
}

.popup-items {
  background-color: rgba(255, 192, 203, 0.303);
  border-radius: 32px;
  font-size: 16px;
  padding: 6px;
  color: rgba(0, 0, 0, 0.693);
  margin-left: 10px;
}

.horizontal-line {
  border-color: rgba(0, 0, 0, 0.317);
  border-width: 0.5px;
  overflow: hidden;
}

.modal-body {
  padding: 20px;
  height: 380px;
}

.popup-delivery {
  font-size: 16px;
  padding-bottom: 20px;
  color: rgba(0, 0, 0, 0.536);
  font-weight: 600;
}

.popup-jewelry-container {
  overflow-y: auto;
}

.popup-jewelry-sub-container {
  display: flex;
  position: relative;
}

.jewelry-popup-image {
  width: 200px;
  height: 200px;
  aspect-ratio: 1 / 1;
  padding: 12px;
}

.jewelry-popup-img {
  border-radius: 16px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: rgba(255, 192, 203, 0.238);
}

.jewelry-popup-composition-title {
  font-size: 14px;
  padding-bottom: 6px;
  padding-top: 0 !important;
}

.popup-composition {
  padding: 4px 0px 4px 8px;
  line-height: 1;
  font-size: 14px;
}

.popup-composition-size {
  padding-top: 16px;
  font-size: 14px;
}

.popup-composition-button-container {
  display: flex;
  position: absolute;
  bottom: 0;
  padding-bottom: 12px;
}

.popup-bag-composition-button {
  padding: 0px 8px 0px 8px;
  text-decoration: underline;
  text-decoration-color: black;
  background-color: white;
  color: rgba(0, 0, 0, 0.589);
  font-size: 14.8px;
}

.popup-bag-composition-button {
  padding: 0px 8px 0px 0px;
  text-decoration: underline;
  text-decoration-color: black;
  background-color: white;
  color: rgba(0, 0, 0, 0.589);
  font-size: 14.8px;
}

.popup-bag-composition-button:hover {
  text-decoration: none;
}

.popup-bag-price-quantity {
  display: flex;
  padding: 0px;
}

.popup-bag-price {
  position: absolute;
  right: 0;
  padding: 0;
  padding-top: 12px;
  margin: 0;
  font-size: 14px;
}

.popup-bag-quantity {
  display: flex;
  position: absolute;
  right: 0;
  margin: 0;
  bottom: 0;
  border: 1px solid rgba(0, 0, 0, 0.19);
  padding: 2px;
  margin-bottom: 12px;
}
.popup-bag-quantity-button,
.popup-bag-composition-button {
  overflow: hidden;
  cursor: pointer;
  border: none;
}
.popup-bag-quantity-button {
  text-decoration: none;
  width: 4ch;
  background-color: white;
  color: rgba(0, 0, 0, 0.335);
  font-size: 12px;
}

.popup-bag-quantity-input input[type="text"] {
  width: 4ch;
  text-align: center;
  border: none;
  color: black;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.popup-bag-quantity-input input[type="text"]:focus {
  outline: none;
}

.continue-checkout-button {
  width: 530px;
  margin: 16px;
}

.view-bag-button {
  width: 530px;
  margin: 16px;
  background-color: white;
  border: 1px solid pink;
  margin-bottom: 0;
}

.bag-popup-total {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.popup-container-open {
  position: relative;
  padding-left: 12px;
}

.bag-right-sub-container-bold {
  font-weight: 900;
}

.bag-popup-checkout-container {
  display: flex;
  flex-direction: column;
}
