* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    font: inherit;
    color: inherit;
}

body,
input,
button,
textarea,
select,
table,
i,
a {
    box-sizing: inherit;
    font: inherit;
    color: inherit;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

strong {
    font-weight: 700;
}

em {
    font-style: italic;
}
