{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="icon" type="image/x-icon" href="https://res.cloudinary.com/deztgvefu/image/upload/v1706426486/template_images/cute-little-pink-cat-watercolor-png_2_kxmwtq.webp">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fine Jewelries</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/colors.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'icons/icons.css' %}">
</head>
<body>
<header class="header">
    <img class="logo-image"
         src="https://res.cloudinary.com/deztgvefu/image/upload/v1706426486/template_images/cute-little-pink-cat-watercolor-png_2_kxmwtq.webp"
         alt="Logo">
    <span class="logo-title">FINE JEWELRIES</span>
    {% include 'base/partials/nav.html' %}
    {% include 'base/partials/icons.html' %}
</header>
<main>
    {% block page_content %}
    {% endblock %}
</main>
<footer class="footer-content">
    <div>
        © 2024 Fine Jewelries | Beatris Ilieve | beatrisilieve@icloud.com
    </div>
</footer>
</body>
</html>

