.container {
    border: 1px solid blue;
    padding: 2em;
    width: 500px;
    display: flex;
}

.box {
    background: lightcyan;
    padding: 1em;
    border: 1px solid black;
    flex-basis: 5em;    
}

.container.shrink .box {
    flex-shrink: 0;
}

.container.grow .box {
    flex-grow: 1;
}
