* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    /* padding: 1em; */
    border: 2px solid green;
}

.section {
    border: 2px solid black;
    /* padding: 1em; */
}

.wrapper {
    border: 2px solid blue;
    padding: 1em;
    max-width: 500px;
    margin: 0 auto;
}

.section:not(:first-child){
    margin-top: 1em;
}

.section-header, .section-footer {
    background: lightblue;
}