{% for item in site.data.navigation.dropdown %}
<details>
    <summary class="dropdown-toggle">
        <i class="{{ item.icon }}"></i> 
        {{ item.name }} 
    </summary>
    <ul class="dropdown-menu">
        {% for sub_item in item.sub_items %}
        <li class="dropdown-subitem">
            <details>
                <summary>
                    {{ sub_item.name }}
                </summary>
                <ul class="sub-sub-menu">
                    {% for sub_sub_item in sub_item.sub_items %}
                    <li>
                        <a href="{{ sub_sub_item.link }}">{{ sub_sub_item.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </details> 
        </li>
        {% endfor %}
    </ul>
</details>
{% endfor %}