<nav class="main-nav">
    {% include navigation/dropdown.html %}
    <!-- <ul>
        {% for item in site.data.navigation.nav_items %}
        {% if item.type == "dropdown" %}
        <li class="dropdown">

        </li>
        {% else %}
        {% if item.name == "Home" and item.url %}
        <li class="logo">
            <a href="{{ item.link }}">
                <img src="{{ item.url }}" alt="logo" />
            </a>
        </li>
        {% else %}
        <li class="link">
            <a href="{{ item.link }}">
                <i class="{{ item.icon }}"></i> {{ item.name }}
            </a>
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
    </ul> -->
</nav>
