<nav>
    <ul>
        {% for item in site.data.navigation.nav_items %}
        {% if item.type == "dropdown" %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle">
                <i class="{{ item.icon }}"></i> 
                {{ item.name }}
            </a>
            <ul class="dropdown-menu">
                {% for sub_item in item.sub_items %}
                <li class="dropdown-subitem">
                    <a href="#">{{ sub_item.name }}</a>
                    <ul class="sub-sub-menu">
                        {% for sub_sub_item in sub_item.sub_items %}
                        <li>
                            <a href="{{ sub_sub_item.link }}">{{ sub_sub_item.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% else %}
        {% if item.name == "Home" and item.url %}
        <img src="{{ item.url }}" alt="logo" />
        {% else %}
        <li>
            <a href="{{ item.link }}">
                <i class="{{ item.icon }}"></i> {{ item.name }}
            </a>
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
    </ul>
</nav>
