<nav class="navigation">
        <ul class="dropdown" role="list" tabindex="0">
            <li class="nav-item">
                BY CATEGORY<i class="fa-solid fa-sort-down"></i>
            </li>
            <li class="dropdown-content">
                {% for category, title in categories_by_choices.items %}
                    <a href="{% url 'display_jewelries_by_category' selected_pk=category.pk %}">{{ title }}</a>
                {% endfor %}
            </li>
        </ul>
        <ul class="dropdown" role="list" tabindex="0">
            <li class="nav-item">
                BY METAL<i class="fa-solid fa-sort-down"></i>
            </li>
            <li class="dropdown-content">
                {% for metal, title in metals_by_choices.items %}
                    <a href="{% url 'display_jewelries_by_metal' selected_pk=metal.pk %}">{{ title }}</a>
                {% endfor %}
            </li>
        </ul>
        <ul class="dropdown" role="list" tabindex="0">
            <li class="nav-item">
                BY GEMSTONE<i class="fa-solid fa-sort-down"></i>
            </li>
            <li class="dropdown-content">
                {% for stone_type, title in stone_types_by_choices.items %}
                    <a href="{% url 'display_jewelries_by_stone_type' selected_pk=stone_type.pk %}">{{ title }}</a>
                {% endfor %}
            </li>
        </ul>
        <ul class="dropdown" role="list" tabindex="0">
            <li class="nav-item">
                BY COLOR<i class="fa-solid fa-sort-down"></i>
            </li>
            <li class="dropdown-content">
                {% for stone_color, title in stone_colors_by_choices.items %}
                    <a href="{% url 'display_jewelries_by_stone_color' selected_pk=stone_color.pk %}">{{ title }}</a>
                {% endfor %}
            </li>
        </ul>
    </nav>