nav a.bolded {
    font-size: 24px;
}

div.special > section {
    background: lightblue;
}



/* section ~ header {
    background: pink;
}

section + header {
    background: yellow;
}

h2 ~ p {
    background: #000;
} */

header >  p {
    background: pink;
}