.relative-container-details {
  position: relative;
}

.jewelry-details-wrapper {
  display: flex;
  color: var(--dark-blue);
  padding: 24px 96px 24px 96px;
  justify-content: space-evenly;
}

.jewelry-details-left-container {
  display: flex;
  gap: 0.8vw;
}

.jewelry-details-right-container {
  position: sticky;
  top: calc(20vh + 12px);
}

.right-sticky {
  position: sticky;
  top: calc(20vh + 12px);
}

.jewelry-details-image-first,
.jewelry-details-image-second {
  width: calc(30vw - 48px);
  aspect-ratio: 1 / 1.4;
  overflow: hidden;
  position: relative;
}

.jewelry-details-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: var(--white-pink);
  border-radius: 16px;
}

.jewelry-details-composition {
  width: calc(30vw - 96px);
  /* position: relative; */
}

.zoom-image {
  transition: transform 0.3s ease;
}

.jewelry-details-image-first:hover .zoom-image {
  transform: scale(2.2);
}

.jewelry-details-image-second:hover .zoom-image {
  transform: scale(2.2);
}

/* .composition-details {
      display:flex;
  } */

.category {
  margin-bottom: 2vh;
}

.title {
  margin-bottom: 2vh;
}
.price {
  margin-top: 4vh;
}

.details-items {
  margin-bottom: 2vh;
}

.add-to-bag {
  margin-top: 4vh;
}
