.relative-container-details {
  position: relative;
}

.jewelry-details-wrapper {
  display: flex;
  color: black;
  justify-content: space-evenly;
  padding: 10vh 0;
  /* gap: 1vw; */
}

.jewelry-details-left-container {
  display: flex;
  gap: 1vw;
}

.jewelry-details-right-container {
  position: relative;
  height: calc(56vh - 84px);
  /* top: calc(20vh + 12px); */
}

/* .right-sticky {
  position: sticky;
  top: calc(20vh + 12px);
} */

.jewelry-details-image-first,
.jewelry-details-image-second {
  width: calc(32vw - 48px);
  height: calc(56vh - 84px);
  aspect-ratio: 1 / 1;
  overflow: hidden;
  position: relative;
}

.jewelry-details-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: pink;
  border-radius: 16px;
}

.jewelry-details-composition {
  width: auto;
  /* width: calc(30vw - 96px); */
  /* position: relative; */
}

.zoom-image {
  transition: transform 0.3s ease;
}

.jewelry-details-image-first:hover .zoom-image {
  transform: scale(1.2);
}

.jewelry-details-image-second:hover .zoom-image {
  transform: scale(1.2);
}

/* .composition-details {
      display:flex;
  } */

.category {
  margin-bottom: 2vh;
}

.title {
  margin-bottom: 2vh;
}
.price {
  margin-top: 4vh;
}

.details-items {
  margin-bottom: 2vh;
}

.add-to-bag-button {
  position: absolute;
  bottom: 0;
}

.radio-container {
  display: flex;
}

input[type="radio"] {
  display: none;
  &:not(:disabled) ~ label {
    cursor: pointer;
  }
  &:disabled ~ label {
    color: hsla(150, 5%, 75%, 1);
    border-color: hsla(150, 5%, 75%, 1);
    box-shadow: none;
    cursor: not-allowed;
  }
}
label {
  /* height: 100%; */
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  gap: 1px;
  background: white;
  border: 2px solid hsla(150, 75%, 50%, 1);
  border-radius: 20px;
  padding: 1rem;
  margin-bottom: 1rem;
  margin: 1rem;
  text-align: center;
  box-shadow: 0px 3px 10px -2px hsla(150, 5%, 65%, 0.5);
  /* position: relative; */
}
input[type="radio"]:checked + label {
  background: hsla(150, 75%, 50%, 1);
  color: hsla(215, 0%, 100%, 1);
  box-shadow: 0px 0px 20px hsla(150, 100%, 50%, 0.75);
}

