.user-details {
  margin-top: 40px;
}

.left-container {
  width: calc(62% - 20px);

}

.left-sub-container {
  height: 60%;
}

.right-sub-container {
  height: 40%;
  border: 1px solid pink;
}

.right-container {
  width: calc(38% - 20px);
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.user-box {
  margin-left: 200px;
  margin-right: 200px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  position: relative;
}





.profile-form-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 30px;
  /* border: 1px solid pink; */
}



