@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i|PT+Serif:400,400i,700,700i&amp;display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font: 20px/1.5 "PT Sans", sans-serif;
}

body,
input,
textarea,
button {
  font: inherit;
}

body {
  /* padding: 2em; */
}

.wrapper-wide {
  max-width: 1330px;
}

.main-header {
  display: flex;
  flex-direction: column;
  background-image: url("./images/background.jpg");
  padding: 2em;
  background-repeat: no-repeat;
  background-size: 1920px auto;
  background-position: center;
}

.main-header nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.main-header nav span {
  width: 6em;
}

.main-header nav span img {
  width: 100%;
  height: auto;
}

.main-header nav ul {
  display: flex;
  align-items: center;
  gap: 1.2em;
}

.main-header li {
  list-style: none outside;
  display: block;
}

.main-header .link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.main-header h1 {
  margin-bottom: 1em;
}

.main-header h1,
.main-header p {
  text-align: center;
}

.main-header p + p {
  margin-top: 0.2em;
}

.main-header p:last-of-type {
  margin-bottom: 1em;
}

.main-header button {
  width: fit-content;
  align-self: center;
  padding: 0.4em 0.8em;
  background: white;
  margin-bottom: 5em;
}
