body {
    min-height: 100dvh;
    background: var(--clr-body-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.site-content {
    width: 856px;
    background: var(--clr-black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--clr-black);
    margin: 0 auto;
    border-radius: var(--border-radius);
    overflow: hidden;
}

header.site-layout {
    width: 740px;
    background: var(--clr-header-bg);
}

main.site-layout {
    width: 660px;
    flex-grow: 1;
}

footer.site-layout {
    width: 678px;
}
