/* Combinators define the relationship between the selectors.  */

/* descendant combinator -> single space*/ 
/* child */
div p {
    color: blue;
}

/* child combinator -> > */
/* direct child */
ul > li {
    list-style-type: circle;
}

/* adjacent sibling combinator + */
/* direct sibling */
p + p {
    background: lightblue;
}

/* general sibling combinator -> ~ */
/* sibling */
p ~ span {
    font-weight: bold;
}