* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: lightgray;
  font: 14px/1.5 Lato, sans-serif;
  padding: 2em;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  background: white;
  box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
  display: flex;
  text-align: center;
  border: 1px solid gray;
  border-radius: 0.3em;
}

.container .week {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 70%;
}

.container .week div, .container .notes div {
    padding: 1em;
    border: 1px solid gray;
}
.container .week div:nth-child(1) {
  flex: 1 1 100%;
}

.container .week div:nth-child(2),
.container .week div:nth-child(3),
.container .week div:nth-child(4),
.container .week div:nth-child(5),
.container .week div:nth-child(6) {
  flex: 1 1 auto;
}

.container .week div:nth-child(7) {
  flex: 1 1 100%;
}

.container .week div:nth-child(8),
.container .week div:nth-child(9) {
  flex: 1 1 auto;
}

.container .notes {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.container .notes div {
    flex-grow: 1;
}

