.container {
    border: 1px solid blue;
    padding: 2em;
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.box {
    background: lightcyan;
    padding: 1em;
    border: 1px solid black;
}

.container.center {
    align-content: center;
}

.container.end {
    align-content: end;
}

.container.between {
    align-content: space-between;
}

.container.around {
    align-content: space-around;
}

.container.evenly {
    align-content: space-evenly;
}
