{% extends 'base/base.html' %}
{% load card_custom_filters %}

{% load static %}
{% block page_content %}
    Complete Order
    <form method="post">
        {% for field in form %}
            <label>{{ field.label }}</label>
            {{ field }}
        {% endfor %}
        <button class="edit-btn" type="submit">Submit</button>
        {% csrf_token %}
    </form>
<div class="card-details-input">
    <label for="card-number">Card Number:</label>
    <div class="card-number-sections">
        <input class="card-number-section character-limit" type="text" data-max="4" data-section="1" minlength="4" maxlength="4">
        <input class="card-number-section character-limit" type="text" data-max="4" data-section="2" minlength="4" maxlength="4">
        <input class="card-number-section character-limit" type="text" data-max="4" data-section="3" minlength="4" maxlength="4">
        <input class="card-number-section character-limit" type="text" data-max="4" data-section="4" minlength="4" maxlength="4">
    </div>
    <div class="expiry-cvv">
        <label for="expiry-date">Expiry Date:</label>
        <input class="expiry-date character-limit" type="text" data-max="5" placeholder="MM / YY" minlength="5" maxlength="5">
        <label for="cvv">CVV:</label>
        <input class="cvv character-limit" type="text" data-max="3" minlength="3" maxlength="3">
    </div>
</div>



    <button type="submit">Submit</button>
{% endblock %}