{% extends 'base/base.html' %}
{% load custom_filters %}
{% load static %}
{% block page_content %}
    {% for jewelry, quantity in jewelries_by_quantities.items %}
        <li>
            <img width="150" height="150" src="{{ jewelry.first_image_url }}" alt="image1">
        </li>
        <li>
            <a href="{% url 'show_jewelry_details' jewelry.id %}?page={{ page_obj.number }}">
                <button>SEE DETAILS</button>
            </a>
        </li>
        <li>
            {{ jewelry.price }}
        </li>
        <li>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="jewelry_id" value="{{ jewelry.id }}">
                <input type="number" name="quantity" value="{{ quantity }}" min="0">
                <button type="submit" name="update_quantity">UPDATE QUANTITY</button>
            </form>
        </li>

    {% endfor %}
    <div>
        Total Price
        {{ total_price }}
    </div>
{% endblock %}