{% extends 'base/base.html' %}
{% load dict %}
{% load static %}
{% block page_content %}
    {% for jewelry, details in jewelries_by_quantity_and_size.items %}
        <section class="grid-container-shopping-cart">
            <div class="shopping-cart-header">
                {% if not jewelries_by_quantity_and_size %}
                    <h2>Your Shopping Bag is Empty</h2>
                {% else %}
                    <h2>Shopping Bag</h2>
                {% endif %}
            </div>
            <div class="shopping-cart-title-label">
                <h3>{{ jewelry.title }}</h3>
            </div>
            <div class="shopping-cart-metals-label">
                <h3>Metals</h3>
            </div>
            <div class="shopping-cart-stones-label">
                <h3>Stones</h3>
            </div>
            <div class="shopping-cart-size-label">
                <h3>Size</h3>
            </div>
            <div class="shopping-cart-quantity-label">
                <h3>Quantity</h3>
            </div>
            <div class="shopping-cart-total-label">
                <h3>Total</h3>
            </div>
            <div class="shopping-cart-image">
                <a href="{% url 'display_jewelry_details' jewelry.pk %}" target="_blank">
                    <img src="{{ jewelry.first_image_url }}" alt="image1"
                         title="{{ jewelry.title }}">
                </a>
            </div>
            <div class="shopping-cart-metals">
                <ul role="list">
                    {% for metal, carat in details.metal_info_dict.items %}
                        {% if carat %}
                            <li>{{ carat }} {{ metal }} </li>
                        {% else %}
                            <li>{{ metal }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="shopping-cart-stones">
                <ul role="list">
                    {% for stone_type, stone_color in details.stone_info_dict.items %}
                        <li>{{ stone_type }} {{ stone_color }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="shopping-cart-size">
                {{ details.size }} cm.
            </div>
            <div class="shopping-cart-quantity">
                <form action="{% url 'update_shopping_cart' jewelry.pk %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="jewelry_id" value="{{ jewelry.pk }}">
                    <input type="number" name="quantity" value="{{ details.quantity }}"
                           min={{ details.min_quantity }} max={{ details.max_quantity }}>
                    <br>
                    <button type="submit" name="update_quantity" class="button hover filled_blue">
                        <i class="fa-solid fa-pencil"></i> UPDATE
                    </button>
                </form>
            </div>
            <div class="shopping-cart-price">
                {{ details.jewelry_total_price }}
            </div>
            <div class="shopping-cart-total-price-label">
                TOTAL
            </div>
            <div class="shopping-cart-total-price-sum">
                {{ total_price }}
            </div>
            <div class="shopping-cart-checkout">
                {% if request.user.is_authenticated %}
                    <form action="{% url 'complete_order' request.user.pk %}" method="get">
                        <button class="button hover filled_green">
                            <i class="fa-regular fa-credit-card"></i> CHECKOUT
                        </button>
                        {% csrf_token %}
                    </form>
                {% else %}
                    <a href="{% url 'login_user' %}?next={{ request.path }}" class="button hover filled_green">
                        <i class="fa-regular fa-credit-card"></i> CHECKOUT</a>
                {% endif %}
            </div>
        </section>
    {% endfor %}
{% endblock %}
