{% extends 'base/base.html' %}
{% load custom_filters %}
{% load static %}
{% block page_content %}
    {% for jewelry, details in jewelries_by_quantities.items %}
        <li>
            <img width="150" height="150" src="{{ jewelry.first_image_url }}" alt="image1">
        </li>
        <li>
            <a href="{% url 'display_jewelry_details' jewelry.pk %}?page={{ page_obj.number }}">
                <button>JEWELRY DETAILS</button>
            </a>
        </li>
        <li>
            PRICE: {{ details.jewelry_total_price }}
        </li>
        <li>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="jewelry_id" value="{{ jewelry.pk }}">
                <input type="number" name="quantity" value="{{ details.quantity }}"
                       min={{ details.min_quantity }} max={{ details.max_quantity }}>
                <button type="submit" name="update_quantity">UPDATE QUANTITY</button>
            </form>
        </li>

    {% endfor %}
    <div>
        Total Price
        {{ total_price }}
    </div>
    <div>
        <form action="{% url 'complete_order' pk=user_pk %}" method="get">
            <button>COMPLETE ORDER</button>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}