* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: green;
}

li{
    background: grey;
    padding: 1em;
}

a {
    text-decoration: none;
    color: white;
}

@media(max-width: 600px){
    ul li:not(:last-child){
        border-bottom: 2px solid white;
    }

    li {
        text-align: center;
    }
}

@media(min-width: 601px){
    ul {
        display: flex;
    }

    li {
        flex: 0 1 400px
    }

    main{
        display: flex;
    }
}