* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 2em;
  border: 2px solid green;
}

.site {
  border: 2px solid blue;
  padding: 2em;
}

.site > header,
.site > main,
.site > footer {
  padding: 2em;
  border: 2px solid black;
  text-align: center;
}

.site > header,
.site > main {
  margin-bottom: 2em;
}
