.main-nav {
  padding: var(--container-padding);
  height: 100%;
}

.main-nav > ul {
  display: flex;
  align-items: flex-end;
  height: 100%;
}


.main-nav > ul li:nth-child(3) {
  margin-left: auto;
}

.main-nav li + li {
  margin-left: 1.5rem;
}

.main-nav span {
  display: flex;
  align-items: baseline;
  gap: 0.25rem;
}

.main-nav i {
  color: var(--clr-pink);
}

.main-nav .user-link i {
  font-size: 18px;
}
