.main-nav {
  padding: var(--container-padding);
  height: 100%;
}

.main-nav > ul {
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.main-nav > ul > li:nth-child(3) {
  margin-left: auto;
}

.main-nav > ul > li + li {
  margin-left: 1.5rem;
}

.main-nav span {
  display: flex;
  align-items: baseline;
  gap: 0.25rem;
}

.main-nav i {
  color: var(--clr-pink);
}

.main-nav .user-link i {
  font-size: 18px;
}

.main-nav .dropdown-menu {
  position: absolute;
  left: 0;
  top: 7rem;
  background: white;
  width: 100%;
  padding: 1.5rem 3rem;
}

.main-nav .dropdown-menu .dropdown-subitem {
  margin-left: 1.5rem;
}

.main-nav .dropdown-menu .dropdown-subitem li {
  margin-left: 1.5rem;
}
