* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  color: inherit;
}

html {
  box-sizing: border-box;
  color: var(--clr-gray);
}

li {
  display: block;
  list-style: none outside;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* .media {
  display: block;
  background: white;
  border-radius: 0.3em;
  overflow: hidden;
  box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.3);
  outline: 2px solid white;
} */

summary {
  list-style: none outside;
  cursor: pointer;
}

button {
  all: unset;
  cursor: pointer;
}
