:root {
  --clr-white: #ffffff;
  --clr-pink: #e48cb0;
  --clr-black: #000000;
  --clr-violet: #cb9bf7;
  --clr-blue: #2334a3;
  --clr-red: #fa2a55;
  --clr-green: #00b200;
  --clr-gray: #4c4a49;
  --clr-browser-gray: #cccdcd;

  --container-padding: 0 max(calc((100vw - 1700px) / 2), 2.5em);
}
