@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

:root {
    --clr-white: #fff;
    --clr-green: #1ab188;
    --clr-hovered: #179a77;
    --clr-not-hovered: #435359;
    --clr-not-hovered-text-color: #8fa1a0;
    --clr-form-background: #24333c;
    --clr-form-text-color: #8e989e;
    --clr-body-background: #c1bdba;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    font: inherit;
    color: inherit;
}

body,
input,
button,
textarea,
select,
table,
i,
a {
    box-sizing: inherit;
    font: inherit;
    color: inherit;
}

img,
a {
    display: block;
}

html {
    box-sizing: border-box;
    font: 12px/1.5 'Kode Mono', sans-serif;
    color: var(--clr-white);
}

@media (min-width: 360px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 800px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 1800px) {
    html {
        font-size: 18px;
    }
}

@media (min-width: 2200px) {
    html {
        font-size: 26px;
    }
}

h1 {
    font-size: 3.2em;
}

h2 {
    font-size: 2.4em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.6em;
}

h5 {
    font-size: 1.4em;
}

h6 {
    font-size: 1.2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin-bottom: 0.5em;
}

body {
    min-height: 100dvh;
    background: var(--clr-body-background);
}

.site-layout {
    padding: 2em clamp(2dvh, calc((100dvw - 744px) / 2), calc(100dvw / 2));
    display: flex;
    flex-wrap: wrap;
}

button {
    flex: 1 1 50%;
}

fieldset {
    display: flex;
    border: none;
    justify-content: center;
    flex-wrap: wrap;
}

.field,
input[type='submit'] {
    flex: 1 1 100%;
}

.field:nth-of-type(1),
.field:nth-of-type(2) {
    flex: 1 1 46%;
}
