/* padding-left: clamp(9.4em, calc(100dvw - 2560px / 2 * 2), calc(100dvw / 2));
padding-right: clamp(2.35em, calc((100dvw - 2560px) / 2), calc(100dvw / 2)); */

@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

:root {
    --clr-white: #fff;
    --clr-black: #000;
    --clr-green: #1ab188;
    --clr-bg: #24333c;
    --clr-form-text: #92989b;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    font: inherit;
    color: inherit;
}

body,
input,
button,
textarea,
select,
table,
i,
a {
    box-sizing: inherit;
    font: inherit;
    color: inherit;
}

img,
a,
li {
    display: block;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

strong {
    font-weight: 700;
}

em {
    font-style: italic;
}

html {
    box-sizing: border-box;
    font: clamp(14px, 14px + 0.7dvw, 26px) / 1.5 'Kode Mono', sans-serif;
    color: var(--clr-white);
}

h1 {
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
}

body {
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    background: #c1bdba;
}

.wrapper {
    background: var(--clr-bg);
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 2em;
}

form {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1.75em;
    column-gap: 1em;
}

form input {
    display: block;
    width: 100%;
    padding: 0.25em;
    background: transparent;
    border: 0.06rem solid #a0b3b0;
}

form .field,
input[type='submit'] {
    flex: 1 1 100%;
}

form .field:nth-child(1),
form .field:nth-child(2) {
    flex: 1 1 40%;
}

.links-wrapper {
    display: flex;
}

.field {
    display: flex;
    flex-direction: column;
    position: relative;
}

.field label {
    order: -1;
    position: absolute;
    top: 0.25em;
    left: 0.7em;
}

.site-layout {
    padding: 2em clamp(2dvh, calc((100dvw - 760px) / 2), calc(100dvw / 2));
}

.media {
    display: flex;
}

input[type='submit'] {
    font-size: 1.7em;
    padding: 0.35em;
    border: none;
    margin-top: 0.35em;
}

.link {
    flex-grow: 1;
    text-align: center;
    padding: 0.75em 2em;
}

.link,
input[type='submit'] {
    background: #435359;
}

.link:hover {
    background: #179a77;
    color: var(--clr-white);
}

form,
.link {
    color: var(--clr-form-text);
}

.link.active,
input[type='submit'] {
    background: var(--clr-green);
    color: var(--clr-white);
}

.field label::after {
    content: '*';
    color: var(--clr-green);
    margin-left: -0.5em;
}
