* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box-model {
  width: 600px;
  margin: 0 auto;
}

.box-model div {
  padding: 1em;
  border: 1px dotted black;
  font-size: 1em;
  position: relative;
}

.margin {
  background: rgb(255 150 111);
}

.margin::before,
.border::before,
.padding::before {
  margin-left: -1em;
}

.margin::before {
  content: "margin";
  position: absolute;
  top: 0;
}

.border {
  background: rgb(255 232 198);
}

.border::before {
  content: "border";
  position: absolute;
  top: 0;
}

.padding {
  background: rgb(133 236 133);
}

.padding::before {
  content: "padding";
  position: absolute;
  top: 0;
}

.content {
  background: rgb(164 210 226);
  text-align: center;
  align-content: center;
}

.box-model .margin,
.box-model .border,
.box-model .padding {
  padding: 2em;
}
