* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 14px/1.5 Lato, sans-serif;
  background: lightgray;
}

img {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.container {
  max-width: 1000px;
  padding: 2rem;
  display: flex;
  margin: 2em auto;
  background: white;
  box-shadow: 0 0 0 0.1em rgb(0, 0, 0, 0.2);
  gap: 2em;
}

.left-sub-container {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 70%;
}

.right-sub-container {
  flex: 1 1 30%;
}

.left-sub-container > hgroup {
  flex: 1 1 100%;
  line-height: 1.2;
}

.left-sub-container h3 {
  opacity: 0.4;
}

.left-sub-container > p {
  padding: 1em 0 1em 0;
}

button {
  all: unset;
  border-radius: 0.3em;
  overflow: hidden;
  padding: 0.5em 1em;
}

button + button {
  margin-left: 1em;
}

button:first-of-type {
  background: violet;
  border: 1px solid violet;
}

button:nth-of-type(2) {
    background: lightcyan;
    border: 1px solid lightcyan;
  }
