* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: 14px/1.5, sans-serif;
}

body {
  padding: 2em;
  background: lightgray;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

form fieldset {
    border: none;
}

form {
  background: white;
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  width: 400px;
}

form legend {
    margin-bottom: 1em;
    border-bottom: 2px solid gray;
padding-bottom: 1em;
}



form p {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

form p + p {
    margin-top: 0.5em;
}

form p label {
  order: -1;
}

form p label::after {
    content: "*";
    /* width: 0.5em; */
    color: red;
}

input {
    display: block;
    width: 100%;
}

input[type="submit"] {
    background: orange;
}
