form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 500px;
    position: relative;
}

input[type="number"]::after {
    background: #000;
    content: "+";
    width: 1em;
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
}