.popup-container {
  display: flex;
  z-index: 100;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  overflow-y:auto;
  animation: slideIn 1s forwards; 
  transition: opacity 0.8s ease, transform 0.8s ease; 
}


@keyframes slideIn {
  from {
    right: -100%; 
  }
  to {
    right: 0; 
  }
}


.right-container {
  width: 40vw;
  height: 100vh;
}

.left-container {
  width: 60vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.337);
  z-index: 200;
  
}

.popup {
  width: 100%;
  height: 100%;
  background-color: white;
  color: black;
}

.popup-title-container {
  display: flex;
}

.x-mark {
  position: absolute;
  right: 0;
  color: rgba(0, 0, 0, 0.413);
  padding-right: 20px;
}

.popup-title {
  font-size: 26px;
  padding: 20px;
  text-align: left;
  font-weight: 400;
  letter-spacing: 0;
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.246);
}

.popup-items {
  background-color: rgba(255, 192, 203, 0.303);
  border-radius: 32px;
  font-size: 16px;
  padding: 6px;
  color: rgba(0, 0, 0, 0.693);
}

.popup-delivery {
  font-size: 16px;
  padding: 4px 16px 6px 20px;
  color: rgba(0, 0, 0, 0.536);
  font-weight: 600;
}


.popup-jewelry-container {
  height: 30vw;
  overflow-y:auto;
}

.popup-jewelry-sub-container{
  display: flex;
  
}

.jewelry-popup-image {
  width: 30%;
  aspect-ratio: 1 / 1;
  padding: 12px;
}

.jewelry-popup-img {
  border-radius: 16px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: rgba(255, 192, 203, 0.238);
}






.popup-composition-container {
  width: 82%;
  position: relative;


}

.jewelry-popup-composition-title {
  font-size: 14px;
  padding: 8px;
  padding-bottom: 6px;
  padding-top: 0 !important;
}

.popup-composition {
  padding: 4px 0px 4px 8px;
  line-height: 1;
  font-size: 14px;
}

.popup-composition-size {
  padding: 8px;
  font-size: 14px;

}

.popup-composition-button-container {
  display: flex;
  position: absolute;
  bottom: 0;
}

.popup-bag-composition-button {
  padding: 0px 8px 0px 8px;
  text-decoration: underline;
  text-decoration-color: black;
  background-color: white;
  color: rgba(0, 0, 0, 0.589);
  font-size: 14.8px;
}



.popup-bag-composition-button {
  padding: 0px 8px 0px 8px;
  text-decoration: underline;
  text-decoration-color: black;
  background-color: white;
  color: rgba(0, 0, 0, 0.589);
  font-size: 14.8px;
}

.popup-bag-composition-button:hover {
  text-decoration: none;
}

.popup-bag-price-quantity {
  position: relative;
  width: 14%;
}

.popup-bag-price {
  position: absolute;
  right: 0;
  padding: 0;
  padding-top: 8px  ;
  margin: 0;
  font-size: 14px;
}

.popup-bag-quantity {
  display: flex;
  position: absolute;
  right: 0;
  padding: 0;
  margin: 0;
  bottom: 0;
  border: 1px solid rgba(0, 0, 0, 0.19);
  padding: 2px;
}
.popup-bag-quantity-button,
.popup-bag-composition-button {
  overflow: hidden;
  cursor: pointer;
  border: none;
}
.popup-bag-quantity-button {
  text-decoration: none;
  width: 4ch;
  background-color: white;
  color: rgba(0, 0, 0, 0.335);
  font-size: 12px;
}

.popup-bag-quantity-input input[type="text"] {
  width: 4ch;
  text-align: center;
  border: none;
  color: black;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.popup-bag-quantity-input input[type="text"]:focus {
  outline: none;
}

.bag-right-container {
  width: 24%;
}

.bag-right-container-sticky {
  position: sticky;
  top: calc(18vh + 42px);
}

.bag-right-container-title {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 16px;
}

.bag-right-sub-container-bold {
  font-weight: 600;
  letter-spacing: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.bag-right-sub-container-not-bold {
  font-weight: 100;
  color: rgba(0, 0, 0, 0.552);
}

.bag-right-sub-container {
  position: relative;
}

.bag-right-sub-right-container {
  display: flex;
}

.horizontal-line {
  background-color: pink;
  height: 1px;
  border: none;
  margin: 12px 0px 20px 0px;
}

.bag-right-sub-container-absolute {
  position: absolute;
  right: 0;
}

.bag-right-sub-container p {
  padding: 0;
  margin: 0;
  padding-bottom: 8px;
}

.continue-checkout-button {
  width: 100% !important;
  margin-top: 12px;
}

