{% extends 'base/base.html' %}
{% block page_content %}
    <style>
        /* Remove default margins and paddings from the body */
        body {
            margin: 0;
            padding: 0;
        }

        /* Define a CSS style to reduce the image size */
        .logo-image {
            width: 100%; /* Set the desired width */
            height: 100%; /* Set the desired height */
            display: block;
            margin-top: -30px;
        }
    </style>
<img src="https://res.cloudinary.com/deztgvefu/image/upload/v1703701050/template_images/largeherod_l2_hj_incre_pink_ring_1_zza1gh.webp" alt="Logo" class="logo-image">
{% endblock %}

