{% extends 'base/base.html' %}
{% block page_content %}
    <section class="hero">
        <img class="hero__img"
             src="https://res.cloudinary.com/deztgvefu/image/upload/v1706337258/template_images/fifty_incredibles_pink_b_i0m1in.webp"
             alt="image">
        <div class="wrapper">
        <h1 class="hero__title">
            Celebrating Timeless Elegance and Enduring Craftsmanship
        </h1>
        <h2 class="hero__subtitle">
            Immerse yourself in a curated collection that reflects the essence of sophistication.
            From classic designs to contemporary marvels, our pieces are a blend of tradition and innovation.
            Every gemstone, every setting, is chosen with precision and care, ensuring that each creation
            is a testament to the artistry that defines FINE JEWELRIES.
{#            Step into the world of FINE JEWELRIES, where every piece of fine jewelry tells a story of timeless elegance#}
{#            and meticulous artistry.#}
        </h2>
        <h3 class="hero__desc">
            Established with a passion for crafting enduring treasures, our brand is a celebration of the remarkable
            journey that is jewelry-making.
        </h3>
        </div>
    </section>
{% endblock %}


{#<h2 class="hero__subtitle">#}
{#    Our Story#}
{#</h2>#}
{#<p class="hero__paragraph">#}
{#    Rooted in a rich history of craftsmanship,#}
{#    <br>FINE JEWELRIES was born out of a desire to offer more than just jewelry#}
{#    <br> – we offer an experience, a connection to the past, present, and future. Our artisans, driven by a commitment#}
{#    to perfection,#}
{#    <br>create pieces that go beyond adornment; they become heirlooms, each with its own unique narrative.#}
{#</p>#}
{#<h2 class="hero__subtitle">#}
{#    Explore the Collection#}
{#</h2>#}
{#<p class="hero__paragraph">#}
{#    Immerse yourself in a curated collection that reflects the essence of sophistication.<br>#}
{#    From classic designs to contemporary marvels, our pieces are a blend of tradition and innovation.<br>#}
{#    Every gemstone, every setting, is chosen with precision and care, ensuring that each creation <br>#}
{#    is a testament to the artistry that defines FINE JEWELRIES.#}
{#</p>#}
{#<h2 class="hero__subtitle">#}
{#    Join the Legacy#}
{#</h2>#}
{#<p class="hero__paragraph">#}
{#    As you explore our online store, you're not just selecting jewelry; you're becoming a part of a legacy.#}
{#    <br>A legacy that spans generations and transcends trends. Discover the perfect piece that resonates with your#}
{#    unique style,#}
{#    <br>and embark on a journey of timeless beauty.#}
{#</p>#}


{#{% extends 'base/base.html' %}#}
{#{% block page_content %}#}
{#    <section class="hero">#}
{#        <img class="hero__img"#}
{#             src="https://res.cloudinary.com/deztgvefu/image/upload/v1706337258/template_images/fifty_incredibles_pink_b_i0m1in.webp"#}
{#             alt="image">#}
{#        <div class="wrapper">#}
{#            <h1 class="hero__title">#}
{#                Welcome to FINE JEWELRIES#}
{#            </h1>#}
{#            <h2 class="hero__subtitle">#}
{#                Celebrating Timeless Elegance and Enduring Craftsmanship#}
{#            </h2>#}
{#            <p class="hero__paragraph">#}
{#                Step into the world of FINE JEWELRIES,#}
{#                <br>where every piece of fine jewelry tells a story of timeless elegance and meticulous artistry.#}
{#                <br>Established with a passion for crafting enduring treasures,#}
{#                <br>our brand is a celebration of the remarkable journey that is jewelry-making.#}
{#            </p>#}
{#            <h2 class="hero__subtitle">#}
{#                Our Story#}
{#            </h2>#}
{#            <p class="hero__paragraph">#}
{#                Rooted in a rich history of craftsmanship,#}
{#                <br>FINE JEWELRIES was born out of a desire to offer more than just jewelry#}
{#                <br> – we offer an experience, a connection to the past, present, and future. Our artisans, driven by a commitment to perfection,#}
{#                <br>create pieces that go beyond adornment; they become heirlooms, each with its own unique narrative.#}
{#            </p>#}
{#            <h2 class="hero__subtitle">#}
{#                Explore the Collection#}
{#            </h2>#}
{#            <p class="hero__paragraph">#}
{#                Immerse yourself in a curated collection that reflects the essence of sophistication.<br>#}
{#                From classic designs to contemporary marvels, our pieces are a blend of tradition and innovation.<br>#}
{#                Every gemstone, every setting, is chosen with precision and care, ensuring that each creation <br>#}
{#                is a testament to the artistry that defines FINE JEWELRIES.#}
{#            </p>#}
{#            <h2  class="hero__subtitle">#}
{#                Join the Legacy#}
{#            </h2>#}
{#            <p class="hero__paragraph">#}
{#                As you explore our online store, you're not just selecting jewelry; you're becoming a part of a legacy.#}
{#                <br>A legacy that spans generations and transcends trends. Discover the perfect piece that resonates with your unique style,#}
{#                <br>and embark on a journey of timeless beauty.#}
{#            </p>#}
{#        </div>#}
{#    </section>#}
{#{% endblock %}#}
{##}
