{% extends 'base/base.html' %}
{% block page_content %}
    <section class="hero">
        <img class="hero__img"
             src="https://res.cloudinary.com/deztgvefu/image/upload/v1706337258/template_images/fifty_incredibles_pink_b_i0m1in.webp"
             alt="">
{#        <div class="hero__overlay"></div>#}
        <div class="wrapper">
            <h1 class="hero__title">
                Welcome to FINE JEWELRIES
            </h1>
            <h2 class="hero__subtitle">
                Celebrating Timeless Elegance and Enduring Craftsmanship
            </h2>
        </div>
    </section>
{% endblock %}

