* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eee;
  font: 14px/1.5 Lato, sans-serif;
  padding: 2em;
}

.site {
  border: 1px solid darkgray;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 2em; 
  position: relative;
  overflow: hidden;
}

.site::before {
  content: "";
  height: 100%;
  width: 1px;
  top: 1em;
  left: 50%;
  position: absolute;
  background: darkgray;
  z-index: -1;
}

.site > * {
  background: white;
}

h1 {
  flex: 1 1 100%;
  text-align: center;
}

article {
  width: 46%;
  position: relative;
  padding: 1em;
}

article:nth-child(even){
  margin-left: auto;
}

article:nth-child(even)::before{
  content: "";
  background: orange;
  position: absolute;
  left: -5.3em;
  top: 1em;
  width: 2em;
  border-radius: 50%;
  aspect-ratio: 1/1;
}

article:nth-child(odd)::after{
  content: "";
  background: green;
  position: absolute;
  right: -5.3em;
  top: 1em;
  width: 2em;
  border-radius: 50%;
  aspect-ratio: 1/1;
}
