* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font: 14px/1.5, sans-serif;
}

body,
input,
textarea,
button {
  font: inherit;
}

body {
  padding: 2em;
}

@media (max-width: 600px) {
  .home-header {
    height: unset;
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
  }

  .home-container02 {
    display: block;
    width: 84vw;
  }

  .navigation-links-nav {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0.5em;
  }

  .home-nav {
    padding-left: 0;
  }

  .navigation-links-text1 {
    margin-left: 0;
  }

  .blog-post-card3-blog-post-card {
    flex-direction: column;
  }

  .home-blog {
    padding-left: 58px;
    padding-right: 58px;
  }

  .home-stats {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    padding: 0;
  }

  .home-stat {
    flex: 1 1 50%;
    padding: 40px;
  }

  .home-container06 {
    flex-direction: column;
  }

  .home-container07 {
    align-items: center;
  }

  .home-text03 {
    text-align: center;
  }

  .home-container08 {
    /* flex-direction: column; */
    flex-wrap: wrap;
    width: 100%;
    flex: 1 1 100%;
  }

  .home-pricing {
    flex-wrap: wrap;
  }

  .home-container09 {
    flex: 1 1 100%;
    height: unset;
    max-width: unset;
    margin-right: 0;
    margin-bottom: 32px;
  }

  .home-container10 {
    flex: 1 1 100%;
    height: unset;
    max-width: unset;
  }
}
