.navigation {
  margin-left: auto;
  margin-right: auto;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 4vw;
}

.nav-item {
  text-decoration: none;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.634);
  font-weight: 580;
  text-transform: uppercase;
}

.nav-item {
  transition: transform 0.5s ease-in-out;
  display: inline-block;
}

.nav-item:hover {
  transform: scale(1.2);
}
