:root {
    --clr-white: #fff;
    --clr-black: #000;
    --clr-blue: #85dcff;
    --clr-box-shadow: #c3d5dd;
    --border-radius: 0.5em;
    --clr-border: #dcdcdc;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    font: inherit;
    color: inherit;
}

body,
input,
button,
textarea,
select,
table,
i,
a {
    box-sizing: inherit;
    font: inherit;
    color: inherit;
}

img,
a {
    display: block;
}

li {
    display: flex;
}

img {
    width: 100%;
    height: auto;
}

html {
    box-sizing: border-box;
    font: 12px/1.5 Arial, sans-serif;
    color: var(--clr-black);
}

@media (min-width: 360px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 800px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 1400px) {
    html {
        font-size: 18px;
    }
}

@media (min-width: 2200px) {
    html {
        font-size: 22px;
    }
}

h1 {
    font-size: 2.6em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1.1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.5em;
}

h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

p {
    padding-bottom: 1.5em;
}

a {
    text-decoration: none;
}

body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    background: var(--clr-white);
}

main {
    flex-grow: 1;
}

.site-layout {
    padding: 0 clamp(4.7em, calc((100dvw - 1380px) / 2), calc(100dvw / 2));
}

.media {
    display: flex;
}

.subtle-text {
    opacity: 0.8;
}

.highlighted-text {
    font-weight: 700;
}

ul.larger-text {
    font-size: 1.2em;
}

p.larger-text {
    font-size: 1.1em;
}

.link {
    padding: 1em 4em;
    border: 0.1em solid var(--clr-black);
    border-radius: var(--border-radius);
    background: var(--clr-black);
    color: var(--clr-white);
    display: flex;
    align-self: center;
    justify-content: center;
    overflow: hidden;
}

.link.light-theme {
    background: var(--clr-white);
    color: var(--clr-black);
}

.links-wrapper {
    display: flex;
    gap: 2em;
}

.site-header {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: clamp(9.4em, calc(100dvw - 2560px / 2 * 2), calc(100dvw / 2));
    padding-right: clamp(2.35em, calc((100dvw - 2560px) / 2), calc(100dvw / 2));
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header a {
    font-size: 1.33em;
}

.hero {
    padding-left: clamp(11.75em, calc((100dvw - 2560px) / 2 * 2), calc(100dvw / 2));
    padding-right: clamp(4.7em, calc((100dvw - 2560px) / 2), calc(100dvw / 2));
    display: flex;
    gap: 7em;
}

.hero > div {
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
    justify-content: center;
    gap: 1.25em;
}

.hero .media {
    flex: 1 1 40%;
}

.main-nav ul {
    display: flex;
    gap: 1em;
}

main section:nth-child(1),
main section:nth-child(3) {
    background: var(--clr-blue);
}

main section.max-width {
    max-width: 1552px;
    margin: 0 auto;
}

main section:nth-child(2),
main section:nth-child(3),
main section:nth-child(4) {
    padding-left: clamp(4.7em, calc((100dvw - 1380px) / 2), calc(100dvw / 2));
    padding-right: clamp(4.7em, calc((100dvw - 1380px) / 2), calc(100dvw / 2));
}

.about {
    padding-top: 1em;
    padding-bottom: 2em;
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.8em;
    column-gap: 6em;
    justify-content: center;
    align-items: center;
}

.about h5 {
    flex: 1 1 100%;
}

.about h5,
.about p {
    text-align: center;
}

.about p.larger-text {
    flex: 1 1 100%;
}

.about .wrapper {
    flex: 0 1 28%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about .wrapper i {
    margin-bottom: 0.15em;
    font-size: 6em;
    color: var(--clr-blue);
}

.about .wrapper p {
    max-width: 38ch;
}

.goals {
    padding-top: 3em;
    padding-bottom: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5em;
}

.goals > div {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.goals h2 {
    flex: 1 1 100%;
    text-align: center;
}

.goals ul {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    flex: 0 1 30%;
}

.goals ul li {
    display: flex;
    gap: 0.4em;
}

.goals .link {
    padding-left: 6em;
    padding-right: 6em;
    /* flex: 0 1 30%; */
}
