{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}

    <section>
        <a href="{% url 'update_user' pk=object.pk %}" class="button hover filled_green">
            <i class="fa-solid fa-pencil"></i> Update Profile
        </a>
    </section>
    <br>
    <section>
        <a href="{% url 'my_orders' pk=object.pk %}" class="button hover filled_blue">
            <i class="fa-solid fa-clock-rotate-left"></i> Order History
        </a>
    </section>
    <br>
    <section>
        <a href="{% url 'delete_user' pk=object.pk %}" class="button hover filled_red">
            <i class="fa-solid fa-user-slash"></i> Delete Profile
        </a>
    </section>
{% endblock %}