@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font: 19px/1.5 Lato, sans-serif;
}

body,
input,
textarea,
button {
  font: inherit;
}

h1 {
  font-size: 2.8em;
  font-family: "Montserrat";
}
h2 {
  font-size: 2.2em;
  font-family: "Montserrat";
}
h3 {
  font-size: 1.8em;
  font-family: "Montserrat";
}
h4 {
  font-size: 1.6em;
  font-family: "Montserrat";
}
h5 {
  font-size: 1.4em;
  font-family: "Montserrat";
}
h6 {
  font-size: 1.2em;
  font-family: "Montserrat";
}

body {
  /* position: relative; */
}

header {
  padding: 0.2em 1em;
  background: #000000;
  margin-bottom: 4.5rem;
}

header span {
  display: block;
  width: 50px;
}

header img {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul {
  display: flex;
  gap: 3em;
}

header li {
  display: block;
  list-style: none outside;
  font-size: 1.2em;
}

header a {
  text-decoration: none;
  color: #fff;
}

header::after {
  position: absolute;
  top: calc(50px + 0.2em);
  left: 0;
  content: "";
  height: 370px;
  width: 100vw;
  background: #1db954;
  z-index: -2;
}

main {
}

main section:first-child > span {
  position: absolute;
  top: 20px;
  left: 0;
  width: 865px;
  height: 638px;
  z-index: -1;
}

main section:first-child > span img {
  width: 100%;
  height: auto;
}

main section:first-child {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-evenly;
  padding: 0 5rem;
}

main section:first-child > h3 {
  flex: 1 1 100%;
  margin-bottom: 2.3rem;
  color: #fff;
  text-align: center;
}

main section:first-child article h3 {
  text-align: center;
  padding-top: 1em;
  margin-bottom: 2em;
}

main section:first-child article {
  flex: 0 1 523px;
  background: #fff;
  border-radius: 0.5em;
  box-shadow: 0 0 0.5em 0 rgb(0, 0, 0, 0.6);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main section:first-child article ul {
  padding: 0 3em;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

main section:first-child article ul li {
  list-style: circle;
}

main section:first-child article button {
  display: block;
  background: #1db954;
  padding: 0.5rem 3rem;
  border-radius: 5rem;
  border: none;
  color: #fff;
  border: 1px solid #1db954;
  margin: 2em auto;
}

main section:first-child article ul:last-of-type {
  background: #191414;
  display: flex;
  flex-direction: row;
  color: #fff;
  justify-content: center;
  align-items: center;
  padding: 0.6em;
}

main section:first-child article ul:last-of-type li {
  list-style: none outside;
  padding: 0.2rem;
  position: relative;
  font-size: 1.4em;
}

main section:first-child article ul:last-of-type li:not(:last-child)::after {
  content: "";
  background: #fff;
  width: 1px;
  height: 30px;
  display: inline-block;
  position: absolute;
  bottom: 10px;
  right: -2px;
}

main section:nth-child(2) {
  display: flex;
  gap: 5rem;
  justify-content: center;
  margin: 13rem 0 6rem 0;
}

main section:nth-child(2) div {
  flex: 0 1 60%;
}

main section:nth-child(2) h6 {
  margin-bottom: 1rem;
}

main section:nth-child(2) p + p {
  margin-top: 1rem;
}

main section:nth-child(2) span {
  flex: 0 1 20%;
}

main section:nth-child(2) span img {
  width: 100%;
  height: auto;
}

main section:nth-child(3) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
}

main section:nth-child(3) h2 {
  flex: 0 1 100%;
  text-align: center;
  margin-bottom: 1em;
}

main section:nth-child(3) > p {
  flex: 0 1 100%;
  text-align: center;
  margin-bottom: 1em;
}

main section:nth-child(3) ul {
  flex: 0 1 60%;
}

main section:nth-child(3) ul li {
  list-style: none outside;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

main section:nth-child(3) ul li p {
  flex: 0 1 80%;
}

main section:nth-child(3) ul li span {
  flex: 0 1 auto;
}

main section:nth-child(3) ul li:nth-child(odd) {
  background: #cccbcb;
}

main section:nth-child(3) ul li:nth-child(even) {
  background: #81d8a0;
}

footer {
  background: #191414;
  color: #fff;
  text-align: center;
  padding: 1.5rem;
}
