@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i|PT+Serif:400,400i,700,700i&amp;display=swap ');

:root {
    --clr-white: #fff;
    --clr-black: #000;
    --clr-gray: #67686b;
    --clr-blue: #60acc1;
    --clr-button-bg: #e7eef0;
    --clr-footer-bg: #2d333c;

    --box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    font: inherit;
    color: inherit;
}

body,
input,
button,
textarea,
select,
table,
i,
a {
    box-sizing: inherit;
    font: inherit;
    color: inherit;
}

img,
a {
    display: block;
}

img {
    width: 100%;
    height: auto;
}

html {
    box-sizing: border-box;
    font: 12px/1.4 'PT Sans', sans-serif;
    color: var(--clr-black);
}
@media (min-width: 360px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 800px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 1600px) {
    html {
        font-size: 18px;
    }
}

@media (min-width: 1920px) {
    html {
        font-size: 22px;
    }
}

@media (min-width: 2200px) {
    html {
        font-size: 26px;
    }
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.4em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1em;
}

h1,
h2,
h3,
h4 {
    font-weight: normal;
    margin-bottom: 0.5em;
}

p {
    padding-bottom: 1em;
}

body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

.site-layout {
    padding: 0 clamp(2dvh, calc((100dvw - 1750px) / 2), calc(100dvw / 2));
}

.media {
    display: flex;
}

header.site-layout {
    background-image: url('images/background.jpg');
    background-position: top -12em left -1em;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

header.site-layout::after {
    content: '';
    position: absolute;
    inset: 0;
    background: var(--clr-white);
    opacity: 0.3;
    z-index: 0;
}

header.site-layout .wrapper-bottom,
header.site-layout .wrapper-top {
    z-index: 1;
    position: relative;
}

header.site-layout .wrapper-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 8em 5em 8em;
}

header.site-layout .wrapper-top img {
    max-width: 6em;
}

header.site-layout .wrapper-top nav ul {
    display: flex;
    gap: 1.5em;
}

header.site-layout .wrapper-top nav ul li {
    display: block;
}

header.site-layout .wrapper-top nav ul li a {
    text-decoration: none;
    font-weight: 700;
}

header.site-layout .wrapper-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 7em;
}

header.site-layout .wrapper-bottom h1 {
    font-weight: 700;
}

header.site-layout .wrapper-bottom p {
    max-width: 100ch;
    text-align: center;
    font-weight: 1.2em;
}

header.site-layout .wrapper-bottom a {
    text-decoration: none;
    border: 0.03em solid var(--clr-gray);
    background: var(--clr-button-bg);
    color: var(--clr-gray);
    padding: 0.25em 1.25em;
    font-weight: 700;
    border-radius: 0.2em;
    overflow: hidden;
    margin-top: 0.5em;
}

main {
    flex-grow: 1;
}

.site-layout.section-catalog {
    padding: 2em 6em;
    background: var(--clr-blue);
}

.site-layout.section-catalog h3 {
    font-weight: 700;
    padding-bottom: 0;
    margin-bottom: 0;
}

.site-layout.section-catalog h3,
.site-layout.section-catalog h4,
.site-layout.section-catalog > p {
    text-align: center;
}

.site-layout.section-catalog .wrapper {
    display: flex;
    justify-content: center;
    gap: 10em;
}

.site-layout.section-catalog .furniture-card {
    display: flex;
    justify-content: flex-end;
    border-right: 0.5em solid var(--clr-blue);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.site-layout.section-catalog .furniture-card .text {
    width: 46%;
    background: var(--clr-white);
    padding: 3em 2em 2em 2em;
}

.site-layout.section-catalog .furniture-card .text h4 {
    font-weight: 700;
    margin-bottom: 1.1em;
}

.site-layout.section-catalog .furniture-card:nth-child(1),
.site-layout.section-catalog .furniture-card:nth-child(2) {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.site-layout.section-catalog .furniture-card:nth-child(1) {
    background-image: url('images/home-set.jpg');
}

.site-layout.section-catalog .furniture-card:nth-child(2) {
    background-image: url('images/beach-set.jpg');
}

.site-layout.section-furniture {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 2em;
    padding-bottom: 2em;
}

.site-layout.section-furniture .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25em;
    flex: 0 1 500px;
}

.site-layout.section-furniture .wrapper h4 {
    font-weight: 700;
    opacity: 0.8;
}

.site-layout.section-furniture .wrapper p {
    opacity: 0.5;
}

.site-layout.section-furniture .wrapper h4,
.site-layout.section-furniture .wrapper p {
    text-align: center;
}

.site-layout.section-furniture .wrapper .media {
    max-width: 200px;
}

.site-layout.section-furniture .wrapper .media img {
    aspect-ratio: 1/1;
}

.site-layout.section-catalog .media-wrapper {
    display: flex;
    justify-content: space-between;
}

.site-layout.section-catalog .media-wrapper .media {
    flex: 0 1 28%;
    box-shadow: var(--box-shadow);
}

.site-layout.section-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 1em;
}

.site-layout.section-about h2 {
    font-size: 1.2em;
    font-weight: 700;
    opacity: 0.8;
    margin-bottom: 0;
}

.site-layout.section-about p {
    max-width: 100ch;
    text-align: center;
    opacity: 0.6;
}

.site-layout.section-about > p {
    padding-bottom: 1em;
}

footer.site-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--clr-footer-bg);
    color: var(--clr-white);
    padding-top: 0.5em;
    font-size: 0.8em;
}
