@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i|PT+Serif:400,400i,700,700i&amp;display=swap ');

:root {
    --clr-white: #fff;
    --clr-black: #000;
    --clr-gray: #67686b;
    --clr-blue: #60acc1;
    --clr-button-bg: #e7eef0;

    --box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    font: inherit;
    color: inherit;
}

body,
input,
button,
textarea,
select,
table,
i,
a {
    box-sizing: inherit;
    font: inherit;
    color: inherit;
}

img,
a {
    display: block;
}

img {
    width: 100%;
    height: auto;
}

html {
    box-sizing: border-box;
    font: 12px/1.5 'PT Sans', sans-serif;
    color: var(--clr-black);
}
@media (min-width: 360px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 800px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 1600px) {
    html {
        font-size: 18px;
    }
}

@media (min-width: 1900px) {
    html {
        font-size: 22px;
    }
}

@media (min-width: 2200px) {
    html {
        font-size: 26px;
    }
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2.4em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.2em;
}

h1,
h2,
h3,
h4 {
    font-weight: normal;
    margin-bottom: 0.5em;
}

p {
    padding-bottom: 2em;
}

body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

.site-layout {
    padding: 0 clamp(2dvh, calc((100dvw - 1750px) / 2), calc(100dvw / 2));
}

.thumbnail {
    display: flex;
}

main.site-layout {
    flex-grow: 1;
}

header {
    display: flex;
    flex-direction: column;
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-position: top -15em center;
    background-size: cover;
    position: relative;
}

header::after {
    content: '';
    position: absolute;
    inset: 0;
    background: var(--clr-white);
    z-index: 0;
    opacity: 0.3;
}

.header-top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40dvw;
    padding-top: 2em;
    z-index: 1;
}

header .thumbnail {
    width: 8em;
    display: flex;
}

header .thumbnail img {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
}

.main-nav ul {
    display: flex;
    gap: 2em;
}

.main-nav ul li {
    display: block;
}

.main-nav ul li a {
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2em;
}

.header-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6em 0 8em 0;
    z-index: 1;
}

.header-bottom h1 {
    font-weight: 700;
}

.header-bottom p {
    text-align: center;
    max-width: 72ch;
    font-size: 1.2em;
    font-weight: 500;
}

.header-bottom button {
    all: unset;
    padding: 0.5em 0.75em;
    background: var(--clr-button-bg);
    color: var(--clr-gray);
    font-weight: 700;
    border-radius: 0.2em;
    overflow: hidden;
    font-size: 1.2em;
}

.section {
    display: flex;
    padding: 2em 0 3em 0;
}

.section h3,
.section p {
    text-align: center;
}

.section h3 {
    font-weight: 700;
    margin-bottom: 0;
}

.section-catalog {
    flex-direction: column;
    background: var(--clr-blue);
}

.section-catalog .wrapper {
    display: flex;
    justify-content: space-around;
}

.section-catalog .furniture-card {
    border-right: 0.75em solid var(--clr-blue);
    box-shadow: var(--box-shadow);
}

.furniture-card {
    flex: 0 1 36%;
    display: flex;
}

.furniture-card .thumbnail {
    flex: 0 1 52%;
}

figcaption {
    flex: 0 1 47%;
    display: flex;
    flex-direction: column;
    background: var(--clr-white);
    padding: 2.5em 1em;
    align-items: center;
}

.furniture-card figcaption h4 {
    text-align: center;
    font-weight: 600;
}

.furniture-card figcaption p {
    max-width: 20ch;
    text-align: left;
}

.section-furniture {
    display: flex;
    justify-content: space-evenly;
}

.section-furniture .furniture-card {
    display: flex;
    flex-direction: column;
}

.section-furniture .furniture-card .thumbnail {
    /* flex: 0 1 30%; */
}