* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  border: 2px solid green;
}

.container {
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2em;
  display: flex;
  flex-direction: column;
}

.container > * {
  border: 1px solid blue;
}
`
.container > * + * {
  margin-top: 1em;
}

main {
  flex: 1 1 auto;
}
