body {
    display: grid;
    grid-template-rows: auto 1fr auto; /* Header, Main, Footer */
    min-height: 100vh;
    margin: 0;
    background-color: white;
    font-size: 0px;
}

.footer-content {
    background: rgb(255, 183, 206);
    background: linear-gradient(0deg, rgba(255, 183, 206, 0.6797312675070029) 0%,
    rgba(4, 7, 32, 0.9626444327731093) 8%, rgba(4, 7, 32, 1) 93%);
    color: white;
    align-items: center;
    font-size: 18px;
    text-align: center;
}

input {
    font-size: 16px;
}

#pagination {
    display: flex;
    font-size: 18px;
    color: var(--dark-blue);
    margin: 10px auto;
    justify-content: space-around;
}


