.update_button {
    color: black;
    background-color: #F6B3BF;
}

.my_orders_button {
    color: black;
    background-color: #89cff0;
}

.delete_button {
    color: black;
    background-color: #DC143C;
}

