.card-details-input {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 480px;
    overflow: hidden; /* Added to contain child elements */
    display: flex; /* Use flexbox for layout */
    flex-wrap: wrap; /* Allow items to wrap if container is too small */
}

.card-details-input label {
    display: block;
    margin-bottom: 5px;
}

.card-details-input > div {
    margin-bottom: 10px;
    flex: 1; /* Take up equal space within the flex container */
    margin-right: 10px; /* Add spacing between input boxes */
    display: flex; /* Nested flex container for the inputs */
    align-items: center; /* Align inputs vertically within div */
}

.card-details-input > div:last-child {
    margin-right: 0; /* Remove margin for the last div */
}

.card-details-input input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    min-height: 30px;
    min-width: 10px;
    flex: 0 0 120px; /* Adjust the width as needed */
    box-sizing: border-box; /* Include padding and border in width */
    outline: none; /* Remove default input outline */
    font-size: 16px;
}

.card-details-input input::placeholder {
    color: #aaa;
}

.card-details-input input:focus {
    border-color: dodgerblue;
}
