.center-container {
    display: flex;
    align-items: center;
    padding: 12px 32px;

}

.checkbox-list {
    margin: auto;
}

.dropdown-checkboxes {
    display: inline-block;
    margin-right: 22px;
}

.dropdown-checkboxes-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-checkboxes:focus-within .dropdown-checkboxes-content {
    display: block;
}


