/*.checkbox-list {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    gap: 10px;*/
/*}*/

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.checkbox-list label {
    position: relative;
    margin-right: 20px;
}

.checkbox-list .dropdown {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    z-index: 1;
    white-space: nowrap;
}

.checkbox-list label:hover .dropdown {
    display: block;
}

.checkbox-list .dropdown div {
    display: block;
    margin-bottom: 5px;
}

