:root {
    --white: white;
    --white-pink: #fff8fa;
    --dark-pink: #ffb7ce;
    --red-pink: #FA2A55;
    --dark-blue: #040720;
    --golden: #d4af37;
    --white-golden: #fbf7eb;
    --shade: #aa98a9;
}