.complete-order-container {
    font-size: 18px;
    color: black;
    display: flex;
}

.complete-order-container section {
    display: flex;
    align-items: center;
    padding: 16px 32px;
}

.personal-element-label {
    padding: 12px;
    display: inline-block;
    width: 100%;
}

.personal-element-field {
    padding: 12px;
    display: inline-block;
    width: 100%;
}

.delivery-element-label {
    padding: 12px;
    display: inline-block;
    width: 100%;
}

.delivery-element-field {
    padding: 12px;
    display: inline-block;
    width: 100%;
}

.complete-order-container .personal-information {
    flex-wrap: wrap;
    width: 30%;
}

#information-title {
    font-size: 22px;
    font-weight: 800;
}

.complete-order-container .delivery-information {
    flex-wrap: wrap;
    width: 30%;
}

.complete-order-container .delivery-action {
    flex-direction: column;
    width: 40%;
}

.complete-order-container .delivery-action .delivery-image {
    padding: 12px;
    width: 100%;
    flex: 1 1 70%;

}

.complete-order-container .delivery-action .delivery-button {
    display: flex;
    padding: 12px;
    width: 100%;
    flex: 1 1 30%;
    align-items: center;
    justify-content: center;

}