.details-card {
    height: 100vh;
    font-size: 18px;
    line-height: 1.5;
    color: white;
    position: relative;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.details-card::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: black;
    opacity: 0.4;
}

.details-card .img-bg-details  {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.complete-order-container .continue-button {
    flex-wrap: wrap;
    padding: 6px;
    width: 40vh;
}

.complete-order-container {
    font-size: 18px;
    color: black;
    display: flex;
    margin: 12px 32px;
    /*height: 40vh;*/
        position: absolute;
    justify-content: space-evenly;
    /*flex-direction: column;*/
    /*right: -20%;*/
    top: 0;
    width: 100%;
}

.complete-order-container section {
    display: flex;
    align-items: center;
}

.personal-element-label {
    padding: 12px;
    display: inline-block;
    width: 100%;
}

.personal-element-field {
    padding: 12px;
    display: inline-block;
    width: 100%;
}

.delivery-element-label {
    padding: 12px;
    display: inline-block;
    width: 100%;
}

.delivery-element-field {
    padding: 12px;
    display: inline-block;
    width: 100%;
}

.complete-order-container .personal-information {
    flex-wrap: wrap;
    padding: 6px;
    width: 40vh;
}

#information-title {
    font-size: 22px;
    font-weight: 800;
}

.complete-order-container .delivery-information {
    flex-wrap: wrap;
    padding: 6px;
    width: 80vh;
}


.complete-order-container .delivery-action {
    flex-direction: column;
    width: 30%;
}


/*.delivery-button {*/
/*    display: flex;*/
/*    padding: 12px;*/
/*    width: 100%;*/
/*    !*margin-left: auto;*!*/
/*    justify-content: center;*/
/*    !*height: 10vh;*!*/
/*}*/

