.dropdown {
    position: relative;
    display: flex;
}

.dropdown-content {
    background-color: var(--white-pink);
    color: var(--dark-blue);
    text-align: center;
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    z-index: 1;
}



.dropdown-content a {
    color: var(--dark-blue);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
        text-decoration: underline;
    text-decoration-color: var(--dark-blue);
}

.dropdown:focus-within .dropdown-content {
    display: block;
}

/* Style for the dropdown container */
/*.dropdown {*/
/*  position: relative;*/
/*  display: inline-block;*/
/*}*/

/*!* Style for the dropdown button *!*/
/*.dropdown button {*/
/*  padding: 10px;*/
/*  background-color: #3498db;*/
/*  color: #fff;*/
/*  border: none;*/
/*  border-radius: 5px;*/
/*  cursor: pointer;*/
/*}*/

/*!* Style for the dropdown content *!*/
/*.dropdown-content {*/
/*  display: none;*/
/*  position: absolute;*/
/*  background-color: #f9f9f9;*/
/*  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);*/
/*  border-radius: 25px;*/
/*}*/

/*!* Show the dropdown content when the button is hovered over *!*/
/*.dropdown:hover .dropdown-content {*/
/*  display: block;*/
/*}*/

/*!* Style for the dropdown items *!*/
/*.dropdown-content a {*/
/*  padding: 12px 16px;*/
/*  display: block;*/
/*  color: #333;*/
/*  text-decoration: none;*/
/*}*/

/*!* Highlight the dropdown item on hover *!*/
/*.dropdown-content a:hover {*/
/*  background-color: #ddd;*/
/*}*/
