/*.image-container {*/
/*    display: grid;*/
/*    grid-template-columns: auto auto auto auto;*/
/*    gap: 10px;*/
/*    background-color: white;*/
/*    padding: 10px;*/
/*    fonts-size: 0;*/
/*}*/

/*.image-container > * {*/
/*    fonts-size: 0;*/
/*}*/

  
/*.image-container > div {*/
/*    background-color: rgba(255, 255, 255, 0.8);*/
/*    text-align: center;*/
/*    padding: 20px 0;*/
/*    fonts-size: 0;*/
/*  }*/

.like-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    cursor: pointer;
}

