.hero {
    height: 100vh;
    position: relative;
}

.hero .hero__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.hero .wrapper {
    position: absolute;
    top: 4%;
    left: 4%;
    /*top: 10%;*/
    /*left: 50%;*/
    transform: translate(-4%, -4%);
    text-align: left;
    /*    background-color: rgba(0,0,0, 0.3);*/
    /*border-radius: 22px;*/
}

/*.hero__overlay{*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    top: 0px;*/
/*    left: 0px;*/
/*    background-color: rgba(0,0,0, 0.4);*/
/*}*/


.hero::before {
    content: "";
    /*display: block;*/

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.4);
}

/*.hero::after{*/
/*    content: "";*/
/*    display: block;*/
/*    width: 100px;*/
/*    height: 100px;*/
/*}*/

.hero .hero__title {
    color: white;
    font-size: 18px;
    margin: 0px;
    line-height: 1.5;
    margin-bottom: 12px;
    font-weight: 900;
}

.hero__subtitle {
    color: white;
    font-size: 16px;
    margin: 0px;
    margin-bottom: 6px;
    line-height: 1.5;
    font-weight: 900;
}

.hero__paragraph {
    color: white;
    font-size: 16px;
    margin: 0px;
    margin-bottom: 22px;
    line-height: 1.5;
    font-weight: 900;
}



