/*.separator-line {*/
/*    border-top: 1px solid #ccc; !* Adjust the color and size as needed *!*/
/*    margin-bottom: 20px; !* Add some spacing between the line and the content below *!*/
/*  }*/

.separator-line-jewelry {
    display: flex;
    flex-wrap: wrap;
    justify-content: normal;
}

.jewelry-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 33.33%;
    position: relative;
}

.like-button {
    position: absolute;
    top: 50px;
    right: 50px;
}



