.half-container {
    list-style: none;
    /*text-align: center;*/
    position: relative; /* Add this line */
}

.half-container > div {
    display: inline-grid;
    height: auto;
    width: auto;
}

.left-section {
    margin: 20px 20px 20px 100px;
    padding: 30px 30px 30px 30px;
}

.right-section {
    margin: 20px 20px 30px 200px;
    padding: 30px 30px 30px 30px;
}

.vl {
    border-left: 1px solid #ffa6c9;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    content: ''; /* Add this line */
}



/*.half-container {*/
/*    list-style: none;*/
/*    text-align: center;*/
/*    !*align-content: center;*!*/
/*    !*justify-content: center;*!*/
/*}*/

/*.half-container > div {*/

/*    display: inline-grid;*/
/*    !*background-color: #ffa6c9;*!*/
/*    !*margin: 20px 20px 20px 20px;*!*/
/*    !*padding: 30px 30px 30px 30px;*!*/
/*    !*overflow: auto;*!*/
/*    !*height: 300px;*!*/
/*    height: auto;*/
/*    width: auto;*/
/*}*/

/*.vl {*/
/*    border-left: 1px solid #ffa6c9;*/
/*      height: 500px;*/
/*}*/

/*#margin-left {*/
/*    margin-left: 50px;*/
/*}*/

/*#margin-right {*/
/*    margin-right: 50px;*/
/*}*/


