/*.half-container {*/
/*    box-sizing: border-box;*/
/*    list-style: none;*/
/*    !*border: 2px solid pink;*!*/
/*    !*text-align: center;*!*/
/*    !*position: relative; !* Add this line *!*!*/
/*}*/
* {
    box-sizing: border-box;
}

.half-container > div {
    /*margin: auto;*/
    height: 350px;
    box-sizing: border-box;
    list-style: none;
    border: 2px solid pink;
    display: inline-grid;
    /*height: auto;*/
    width: auto;
}

.half-container > div {
    font-size: 16px;
}

.left-section {
    width: 40px;
    margin: 10px;
    padding: 20px;
}

.right-section {
    width: 60px;
    margin: 10px;
    padding: 20px;
}

.vl {
    border-left: 1px solid #ffa6c9;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    content: ''; /* Add this line */
}


/*.half-container {*/
/*    list-style: none;*/
/*    text-align: center;*/
/*    !*align-content: center;*!*/
/*    !*justify-content: center;*!*/
/*}*/

/*.half-container > div {*/

/*    display: inline-grid;*/
/*    !*background-color: #ffa6c9;*!*/
/*    !*margin: 20px 20px 20px 20px;*!*/
/*    !*padding: 30px 30px 30px 30px;*!*/
/*    !*overflow: auto;*!*/
/*    !*height: 300px;*!*/
/*    height: auto;*/
/*    width: auto;*/
/*}*/

/*.vl {*/
/*    border-left: 1px solid #ffa6c9;*/
/*      height: 500px;*/
/*}*/

/*#margin-left {*/
/*    margin-left: 50px;*/
/*}*/

/*#margin-right {*/
/*    margin-right: 50px;*/
/*}*/


