
* {
    box-sizing: border-box;
}

.login-or-register {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    /*gap: 30px;*/
}

/*.login-or-register {*/
/*    display: grid;*/
/*    padding: 20px;*/
/*    !*grid-template-columns: 30% 60%;*!*/
/*    grid-template-columns: repeat(10, 10%);*/
/*    grid-template-rows: repeat(1, 100%);*/
/*    grid-template-areas:*/
/*        ". login login login . register register register register .";*/
/*    gap: 16px;*/
/*}*/

/*.register {*/
/*        border: dotted;*/
/*    border-radius: 6px;*/
/*    border-color: #ffa6c9;*/
/*    padding: 2px 30px 30px 30px;*/
/*    grid-area: register;*/
/*}*/

/*.log-in {*/
/*    border: dotted;*/
/*    border-radius: 6px;*/
/*    border-color: #ffa6c9;*/
/*    padding: 2px 30px 30px 30px;*/
/*    grid-area: login;*/
/*}*/

/*.login-or-register  {*/
/*    font-size: 16px;*/
/*}*/

