.grid-container-shopping-cart-top {
    display: grid;
    text-align: center;
      justify-content: center;
  align-items: center;
    gap: 8px;
    border-bottom-color: #ffa6c9;
    border-bottom-style: dotted;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;

    margin-bottom: 22px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "header header header header"
        "item-label materials-and-size-label quantity-label price-label"
}

.shopping-cart-header {
    grid-area: header;
}

.shopping-cart-item-label {
    grid-area: item-label;
}

.shopping-cart-quantity-label {
    grid-area: quantity-label;
}

.shopping-cart-total-label {
    grid-area: price-label;
}

.shopping-cart-total-price-label {
    grid-area: total-price-label;
}

.grid-container-shopping-cart-bottom {
        display: grid;
        text-align: center;
      justify-content: center;
  align-items: center;
        margin-bottom: 12px;
        border-bottom-color: #ffa6c9;
        border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    border-bottom-style: dotted;
    gap: 8px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        ". .  total-price-label total-price-sum"
        ". .  checkout checkout";
}


.shopping-cart-total-price-sum {
    grid-area: total-price-sum;
}

.shopping-cart-checkout {
    grid-area: checkout;
}



.grid-container-shopping-cart {
    display: grid;
        text-align: center;
      justify-content: center;
  align-items: center;
        margin-bottom: 12px;
        border-bottom-color: #ffa6c9;
        border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    border-bottom-style: dotted;
    gap: 8px;
    grid-template-columns: repeat(4, 1fr);
    /*grid-template-rows: repeat(auto-fill, auto);*/
    grid-template-areas:
        /*"header header header header header"*/
        /*"item-label item-label item-label quantity-label price-label"*/
        "item materials-and-size quantity price";

        /*". . . total-price-label total-price-sum"*/
        /*". . . checkout checkout";*/
}

.grid-container-item {
    display: grid;
}

.grid-container-item.shopping-cart-quantity {
    grid-area: quantity;
}

.grid-container-item.shopping-cart-price {
    grid-area: price;
}

.grid-container-item.shopping-cart-item {
    grid-area: item;
}

.grid-container-item.shopping-cart-materials-and-size {
    grid-area: materials-and-size;
}

