{% load static %}
<nav>
    <ul class="menu">
        <li class="left-menu">
            <form action="{% url 'search-bar' %}?page={{ page_obj.number }}">

                <input name="search" value="{{ search }}">
                <button>Search</button>
                {#                <a href="#">Search</a>#}
            </form>

        </li>
        <li>
            <p>BY CATEGORY</p>
            <ul class="submenu">
                <li>
                    {% for category, title in categories_by_choices.items %}
                        <a href="{% url 'show_jewelries' category_id=category.id %}">{{ title }}</a>
                    {% endfor %}
                </li>
            </ul>
        <li>
        <li>
            <p>BY METAL</p>
            <ul class="submenu">
                <li>
                    {% for metal in metals %}
                        <a href="#">{{ metal.1 }}</a>
                    {% endfor %}
                </li>
            </ul>
        <li>
        <li>
            <p>BY GEMSTONE</p>
            <ul class="submenu">
                {% for stone in stones %}
                    <a href="#">{{ stone.1 }}</a>
                {% endfor %}
            </ul>
        </li>
        <li>
            <p>BY COLOR</p>
            <ul class="submenu">
                {% for color in colors %}
                    <a href="#">{{ color.1 }}</a>
                {% endfor %}
            </ul>
        </li>
        <li class="right-menu"><a href="#">Sign In</a></li>
        <li class="right-menu"><a href="#">My Bag</a></li>
        <li class="right-menu"><a href="#">Like</a></li>
    </ul>
</nav>
{% for jewelry in object_list %}
    <a href="{% url 'show_jewelry_details' jewelry.id %}?page={{ page_obj.number }}">
    <img width="450" height="450" src="{{ jewelry.first_image_url }}" alt="image1">
{% endfor %}
{% if is_paginated %}
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}&search={{ search }}">&lt;</a>
    {% else %}
        <a> &lt;</a>
    {% endif %}
    {{ page_obj.number }} / {{ paginator.num_pages }}
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}&search={{ search }}">&gt;</a>
    {% else %}
        <a> &gt;</a>
    {% endif %}
{% endif %}

