.flex-container {
    display: flex;
    padding: 1em;
    border: 1px solid blue;
    width: 400px;
}

.flex-container .flex-item {
    background: lightgray;
    padding: 20px;
    border: 1px solid black;
}

.first .flex-item{
    flex-basis: 90px;
}

.second .flex-item {
    flex-basis: 40px;
    flex-shrink: 0;
}

.third .flex-item {
    flex-basis: 10px;
    flex-grow: 1;
}