{% extends 'base/base.html' %}
{% load static %}
{% load countries %}
{% get_countries as countries %}
{% block page_content %}
    Complete Order
    <form method="post">
        {% for field in form %}
            <label>{{ field.label }}</label>
            {{ field }}
        {% endfor %}
        <a href="{% url 'complete_transaction' pk=object.pk %}"></a>
        <button class="edit-btn" type="submit">CONTINUE</button>
        {% csrf_token %}
    </form>
{% endblock %}

{#    <form method="post" action="{% url 'update_user' pk=object.pk %}">#}
{#        <form method="post" action="{% url 'update_user' pk=object.pk %}">#}
{#        {% csrf_token %}#}
{#        {{ form.as_p }}  {# Render all form fields using {{ form.as_p }} #}
{#                <a href="{% url 'complete_transaction' pk=object.pk %}"></a>#}
{#        <button class="edit-btn" type="submit">CONTINUE</button>#}
{#        {% csrf_token %}#}
{#        </form>#}
{#    </form>#}