{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <section class="orders-history">
        <h1>My orders</h1>
        {% for order_pk, details in order_details.items %}
            <h2>Order ID: {{ order_pk }}</h2>
            <p>Status: {{ details.status }}</p>

            <h3>Order Products:</h3>
            <ul role="list">
                {% for product in details.order_products %}
                    <li>
                        <img width="100" height="100" src="{{ product.jewelry.first_image_url }}" alt="image1">
                    </li>
                    <a href="{% url 'display_jewelry_details' product.jewelry.pk %}?page={{ page_obj.number }}">
                        <button>JEWELRY DETAILS</button>
                    </a>
                    {#            <li>Jewelry: {{ product.jewelry }}</li>#}
                    <li>Price: {{ product.price }}</li>
                    <li>Quantity: {{ product.quantity }}</li>
                    <li>Total Price per Jewelry: {{ product.total_price }}</li>

                    <hr>
                {% endfor %}
                <li>Total Order Price: {{ details.total_order_price }}</li>
            </ul>
        {% endfor %}
    </section>
{% endblock %}