{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <form method="post">
{#        {% csrf_token %}#}
{#        {% if form.card_number.errors %}#}
{#            <ul>#}
{#                {% for error in form.card_number.errors %}#}
{#                    <li>{{ error }}</li>#}
{#                {% endfor %}#}
{#            </ul>#}
{#        {% endif %}#}
{#        {% if form.expiration_date.errors %}#}
{#            <ul>#}
{#                {% for error in form.expiration_date.errors %}#}
{#                    <li>{{ error }}</li>#}
{#                {% endfor %}#}
{#            </ul>#}
{#        {% endif %}#}
{#        {% if form.cvv_code.errors %}#}
{#            <ul>#}
{#                {% for error in form.cvv_code.errors %}#}
{#                    <li>{{ error }}</li>#}
{#                {% endfor %}#}
{#            </ul>#}
{#        {% endif %}#}
    {{ form.as_p }}
{#        <div class="card-details-input">#}
{#            <label for="card-number">Card Number:</label>#}
{#            <input class="card-number-input character-limit" type="text"#}
{#                   placeholder="Valid Card Number" name="card_number"#}
{#                   maxlength="{{ required_card_number_length }}">#}

{#            <div class="expiry-cvv">#}
{#                <label for="expiry-date">Expiration Date:</label>#}
{#                <input class="expiry-date character-limit" type="text"#}
{#                       placeholder="MM / YY" name="expiration_date"#}
{#                       maxlength="{{ required_expiry_date_length }}">#}
{#                <label for="cvv">CVV:</label>#}
{#                <input class="cvv character-limit" type="text" placeholder="CVV" name="cvv_code"#}
{#                       maxlength="{{ required_cvv_length }}">#}
{#            </div>#}
{#        </div>#}
        <button type="submit">Submit</button>
        {% csrf_token %}
    </form>
{% endblock %}


