.flex-container {
    display: flex;
    padding: 2em;
    border: 1px solid blue;
    width: 380px;
}

.flex-container .flex-item {
    background: lightgray;
    padding: 2em;
    border: 1px solid black;
}

  
.flex-grow-1 .flex-item {
    flex-grow: 1;
}

.second-child .flex-item:nth-child(2) {
    flex-grow: 1;
}

.proportional .flex-item:nth-child(1) {
    flex-grow: 1;
}

.proportional .flex-item:nth-child(2) {
    flex-grow: 2;
}

.proportional .flex-item:nth-child(3) {
    flex-grow: 3;
}