{% extends 'base/base.html' %}
{% load custom_filters %}
{% load static %}
{% block page_content %}
    <style>
        .checkbox-list {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }
    </style>
    <form action="{% url 'display_jewelries_by_stone_color' choice_pk %}" method="get">
        <div class="checkbox-list">
            {% for field in form %}
                {% if field.name != 'stone_color_choices' and field.name != 'stone_type_choices' %}
                    <div>
                        <label for="{{ field.id_for_label }}">
                            <strong>{{ field.label }} </strong>
                            {% for subfield in field %}
                                <div>
                                    {{ subfield }}
                                    {% if subfield.choice_label in jewelries_count_by_category.keys %}
                                        <span>({{ jewelries_count_by_category|get_value_from_dict:subfield.choice_label }})</span>
                                    {% elif subfield.choice_label in jewelries_count_by_metal.keys %}
                                        <span>({{ jewelries_count_by_metal|get_value_from_dict:subfield.choice_label }})</span>
                                    {% elif subfield.choice_label in jewelries_count_by_price.keys %}
                                        <span>({{ jewelries_count_by_price|get_value_from_dict:subfield.choice_label }})</span>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </label>
                        <button>Apply</button>
                        {% csrf_token %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </form>
    {% include 'common/jewelry_cover_photo.html' %}
    {% include 'jewelry/pagination.html' %}
{% endblock %}