{% extends 'base/base.html' %}
{% load custom_filters %}
{% load static %}
{% block page_content %}
    <style>
    .checkbox-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
</style>
    <form action="{% url 'show_jewelries' category_id=category_id %}" method="get">
    <div class="checkbox-list">
        {% for field in form %}
            <div>
                <label for="{{ field.id_for_label }}">
                        <strong>{{ field.label }} </strong>
                            {% for subfield in field %}
                        <div>
                            {{ subfield }}
                            {% if subfield.choice_label in jewelries_count_by_metal.keys%}
                            <span>({{ jewelries_count_by_metal|get_value_from_dict:subfield.choice_label }})</span>
                            {% elif subfield.choice_label in jewelries_count_by_stone_type.keys%}
                            <span>({{ jewelries_count_by_stone_type|get_value_from_dict:subfield.choice_label}})</span>
                            {% elif subfield.choice_label in jewelries_count_by_stone_color.keys%}
                            <span>({{ jewelries_count_by_stone_color|get_value_from_dict:subfield.choice_label }})</span>
                            {% elif subfield.choice_label in jewelries_count_by_price.keys%}
                            <span>({{ jewelries_count_by_price|get_value_from_dict:subfield.choice_label }})</span>
                            {% endif %}
                        </div>
                            {% endfor %}
                </label>
                <button>Apply</button>
                {% csrf_token %}
            </div>
        {% endfor %}
    </div>
    </form>
    <div class="separator-line">
        <div class="image-container">
            <div>
                {% for jewelry in jewelries %}
                    <a href="{% url 'show_jewelry_details' category_id=jewelry.category_id jewelry_id=jewelry.id %}?page={{ page_obj.number }}">
                    <img width="450" height="450" src="{{ jewelry.first_image_url }}" alt="image1">
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>

<div class="pagination">
    <span class="step-links">
        {% if jewelries.has_previous %}
            <a href="?page=1">first</a>
            <a href="?page={{ jewelries.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ jewelries.number }} of {{ jewelries.paginator.num_pages }}.
        </span>

        {% if jewelries.has_next %}
            <a href="?page={{ jewelries.next_page_number }}">next</a>
            <a href="?page={{ jewelries.paginator.num_pages }}">last</a>
        {% endif %}
    </span>
</div>
{% endblock %}

{#{% if is_paginated %}#}
{#    {% if page_obj.has_previous %}#}
{#        <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>#}
{#        {% else %}#}
{#        <a> &lt;</a>#}
{#    {% endif %}#}
{#    {{ page_obj.number }} / {{ paginator.num_pages }}#}
{#    {% if page_obj.has_next %}#}
{#        <a href="?page={{ page_obj.next_page_number }}">&gt;</a>#}
{#                {% else %}#}
{#        <a> &gt;</a>#}
{#    {% endif %}#}
{#{% endif %}#}


{#<form action="{% url 'show_jewelries' customer_gender_id=1 category_id=1 %}" method="get">#}
{#    {% for field in form %}#}
{#    <div>#}
{#        <label for="{{ field.id_for_label }}">#}
{#            <strong>{{ field.label}} </strong>#}
{#               {{ field}}#}
{#        </label>#}
{#        <button>Apply</button>#}
{#        {% csrf_token %}#}
{#    </div>#}
{#    {% endfor %}#}
{#</form>#}
