{% extends 'base/base.html' %}
{% load custom_filters %}
{% load static %}
{% block page_content %}
    <form action="{% url 'show_jewelries' customer_gender_id=1 category_id=1 %}" method="get">
        {% for field in form %}
            <div>
                <label for="{{ field.id_for_label }}">
                        <strong>{{ field.label }} </strong>
                        <div>
                            {% for subfield in field %}
                        <div>
                            {{ subfield }}
                            {% if subfield.id_for_label in jewelries_count_by_style.keys %}
                            <span>{{ jewelries_count_by_style|get_value_from_dict:subfield.id_for_label }}</span>
                            {% endif %}
                        </div>
                            {% endfor %}
                        </div>
                </label>
                <button>Apply</button>
                {% csrf_token %}
            </div>
        {% endfor %}
    </form>
    <div class="separator-line">
        <div class="image-container">
            <div>
                {% for jewelry in jewelries %}
                    <a href="{% url 'show_jewelry_details' jewelry_id=jewelry.id %}">
                    <img width="300" height="400" src="{{ jewelry.first_image_url }}" alt="image1">
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}


{#<form action="{% url 'show_jewelries' customer_gender_id=1 category_id=1 %}" method="get">#}
{#    {% for field in form %}#}
{#    <div>#}
{#        <label for="{{ field.id_for_label }}">#}
{#            <strong>{{ field.label}} </strong>#}
{#               {{ field}}#}
{#        </label>#}
{#        <button>Apply</button>#}
{#        {% csrf_token %}#}
{#    </div>#}
{#    {% endfor %}#}
{#</form>#}
