{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
<h1>Title</h1>
     <div>
         {{jewelry.title}}
     </div>
    <form>
        {% for field in form %}
            <div>
                <label for="{{ field.id_for_label }}">
                        <strong>{{ field.label }} </strong>
                        <div>
                            {% for subfield in field %}
                        <div>
                            {{ subfield }}
{#                            {% if subfield.choice_label in jewelries_count_by_metal.keys%}#}
{#                            <span>({{ jewelries_count_by_metal|get_value_from_dict:subfield.choice_label }})</span>#}
{#                            {% elif subfield.choice_label in jewelries_count_by_stone_type.keys%}#}
{#                            <span>({{ jewelries_count_by_stone_type|get_value_from_dict:subfield.choice_label}})</span>#}
{#                            {% elif subfield.choice_label in jewelries_count_by_stone_color.keys%}#}
{#                            <span>({{ jewelries_count_by_stone_color|get_value_from_dict:subfield.choice_label }})</span>#}
{#                            {% elif subfield.choice_label in jewelries_count_by_price.keys%}#}
{#                            <span>({{ jewelries_count_by_price|get_value_from_dict:subfield.choice_label }})</span>#}
{#                            {% endif %}#}
                        </div>
                            {% endfor %}
                        </div>
                </label>
                <button>Apply</button>
                {% csrf_token %}
            </div>
        {% endfor %}
    </form>
{##}
{#     <h1>Images</h1>#}
{##}
{#    <ul >#}
{#         <img width="400" height="600" src="{{ jewelry.first_image_url }}" alt="img8">#}
{#    </ul>#}
{##}
{#     <ul >#}
{#         <img  width="400" height="600"  src="{{ jewelry.second_image_url }}" alt="img8">#}
{#     </ul> #}

{#     <h1>Metals</h1>#}
{#     <div>#}
{#         {% for metal in jewelry.metals.all %}#}
{#             <li>{{ metal.name }}</li>#}
{#             {% for gold_carat in jewelry.gold_carats.all %}#}
{#                 <li>{{ gold_carat.weight }}K</li>#}
{#             {%endfor%}#}
{#         {% endfor %}#}
{#     </div>#}
{##}
{#     <h1>Stones</h1>#}
{#     <div>#}
{#         {% for stone_type in jewelry.stone_types.all %}#}
{#             <li>{{ stone_type.name }} </li>#}
{#             {% for stone_color in jewelry.stone_colors.all %}#}
{#                 <li>{{ stone_color.name }} </li>#}
{#             {% endfor %}#}
{#         {% endfor %}#}
{#     </div>#}
{##}
{#     <h1>Style</h1>#}
{#     <ul>#}
{#         {{jewelry.jewelry.style.name}}#}
{#     </ul>#}
{##}
{#     <h1>Quantity</h1>#}
{#     <div>#}
{#         {{ jewelry.quantity }}#}
{#     </div>#}
{##}
{#     <h1>Price</h1>#}
{#     <div>#}
{#         {{ jewelry.price }}#}
{#     </div>#}

{% endblock %} 