{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <h1>Title</h1>
    <div>
        {{ jewelry.title }}
        <img width="150" height="150" src="{{ jewelry.first_image_url }}" alt="image1">
    </div>
    <a href="{% url 'add_to_shopping_cart' jewelry.pk %}">
        <button>Add to cart</button>
    </a>
    {% for jewelry in last_viewed_jewelries %}
        <a href="{% url 'display_jewelry_details' jewelry.pk %}">
            <img width="150" height="150" src="{{ jewelry.first_image_url }}" alt="image1">
        </a>
    {% endfor %}
{% endblock %} 