{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
<form action="{% url 'show_jewelries' customer_gender_pk=1 category_pk=1 %}" method="get">
    {% for field in form %}
        <label for="{{ field.id_for_label }}">
            <strong>{{ field.label }}</strong>
                {{ field }}
        </label>
    {% endfor %}
        <button>Apply</button>
        {% csrf_token %}
<div class="separator-line">
    <div class="image-container">
        <div>
            {% for jewelry in jewelries %}
            <a href="{% url 'show_jewelry_details' jewelry_pk=jewelry.pk %}"> 
            <img width="300"  height="400" src="{{ jewelry.first_image_url }}" alt="image1">
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %} 

