{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <div>
        <img width="150" height="150" src="{{ jewelry.first_image_url }}" alt="image1">
    </div>
    <ul>
        <li>{{ jewelry.title }}</li>
    </ul>
    <ol>
        {% for metal, carat in metal_info_dict.items %}
            {% if carat %}
                <li>{{ carat }} {{ metal }} </li>
            {% else %}
                <li>{{ metal }}</li>
            {% endif %}
        {% endfor %}
    </ol>
    <ol>
        {% for stone_type, stone_color in stone_info_dict.items %}
            <li>{{ stone_type }} {{ stone_color }}</li>
            <br>
        {% endfor %}
    </ol>
    <form method="POST">
        {{ form }}
        <button type="submit">Add to cart</button>
        {% csrf_token %}
    </form>
    {% for jewelry in last_viewed_jewelries %}
        <a href="{% url 'display_jewelry_details' jewelry.pk %}">
            <img width="150" height="150" src="{{ jewelry.first_image_url }}" alt="image1">
        </a>
    {% endfor %}
{% endblock %} 