{#{% if page_obj.has_previous %}#}
{#    <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>#}
{#{% else %}#}
{#    <a>&lt;</a>#}
{#{% endif %}#}
{#{{ page_obj.number }} / {{ paginator.num_pages }}#}
{#{% if page_obj.has_next %}#}
{#    <a href="?page={{ page_obj.next_page_number }}">&gt;</a>#}
{#{% else %}#}
{#    <a>&gt;</a>#}
{#{% endif %}#}

{#<!-- Assuming 'page_obj' is the paginator object -->#}
{#<div class="pagination">#}
{#    <span class="step-links">#}
{#        {% if page_obj.has_previous %}#}
{#            <a href="?{{ form_data }}&page=1">&laquo; first</a>#}
{#            <a href="?{{ form_data }}&page={{ page_obj.previous_page_number }}">previous</a>#}
{#        {% endif %}#}
{##}
{#        <span class="current">#}
{#            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.#}
{#        </span>#}
{##}
{#        {% if page_obj.has_next %}#}
{#            <a href="?{{ form_data }}&page={{ page_obj.next_page_number }}">next</a>#}
{#            <a href="?{{ form_data }}&page={{ page_obj.paginator.num_pages }}">last &raquo;</a>#}
{#        {% endif %}#}
{#    </span>#}
{#</div>#}

<!-- Assuming 'page_obj' is the paginator object -->
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?{{ form_data_encoded }}page=1">&laquo; first</a>
            <a href="?{{ form_data_encoded }}page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?{{ form_data_encoded }}page={{ page_obj.next_page_number }}">next</a>
            <a href="?{{ form_data_encoded }}page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

