{% load pagination %}
<div class="pagination" id="pagination">
    <span class="step-links">
        {% if is_paginated %}
            {% if page_obj.has_previous %}
                <a href="?{% param_replace page=page_obj.previous_page_number %}">&lt;</a>
            {% else %}
                <span class="disabled">&lt;</span>
            {% endif %}

            <span class="current">{{ page_obj.number }} / {{ paginator.num_pages }}</span>

            {% if page_obj.has_next %}
                <a href="?{% param_replace page=page_obj.next_page_number %}">&gt;</a>
            {% else %}
                <span class="disabled">&gt;</span>
            {% endif %}
        {% else %}
            < 1 / 1 >
        {% endif %}
    </span>
</div>


{#{% if is_paginated %}#}
{#    <div class="pagination">#}
{#        <span class="step-links">#}
{#            {% if page_obj.has_previous %}#}
{#                <a href="?{% param_replace page=page_obj.previous_page_number %}">&lt;</a>#}
{#            {% else %}#}
{#                <span class="disabled">&lt;</span>#}
{#            {% endif %}#}
{#            <span class="current">#}
{#                {{ page_obj.number }} / {{ paginator.num_pages }}#}
{#            </span>#}
{#            {% if page_obj.has_next %}#}
{#                <a href="?{% param_replace page=page_obj.next_page_number %}">&gt;</a>#}
{#            {% else %}#}
{#                <span class="disabled">&gt;</span>#}
{#            {% endif %}#}
{#        </span>#}
{#    </div>#}
{#{% endif %}#}


{#{% load pagination %}#}
{#{% if is_paginated %}#}
{#  {% if page_obj.has_previous %}#}
{#    <a href="?{% param_replace page=1 %}">First</a>#}
{#    {% if page_obj.previous_page_number != 1 %}#}
{#      <a href="?{% param_replace page=page_obj.previous_page_number %}">Previous</a>#}
{#    {% endif %}#}
{#  {% endif %}#}
{##}
{#  Page {{ page_obj.number }} of {{ paginator.num_pages }}#}
{##}
{#  {% if page_obj.has_next %}#}
{#    {% if page_obj.next_page_number != paginator.num_pages %}#}
{#      <a href="?{% param_replace page=page_obj.next_page_number %}">Next</a>#}
{#    {% endif %}#}
{#    <a href="?{% param_replace page=paginator.num_pages %}">Last</a>#}
{#  {% endif %}#}
{#{% endif %}#}


{#{% load pagination %}#}
{##}
{#{% if is_paginated %}#}
{#  {% if page_obj.has_previous %}#}
{#    <a href="?{% param_replace page=1 %}">First</a>#}
{#    {% if page_obj.previous_page_number != 1 %}#}
{#      <a href="?{% param_replace page=page_obj.previous_page_number %}">Previous</a>#}
{#    {% endif %}#}
{#  {% endif %}#}
{##}
{#  Page {{ page_obj.number }} of {{ paginator.num_pages }}#}
{##}
{#  {% if page_obj.has_next %}#}
{#    {% if page_obj.next_page_number != paginator.num_pages %}#}
{#      <a href="?{% param_replace page=page_obj.next_page_number %}">Next</a>#}
{#    {% endif %}#}
{#    <a href="?{% param_replace page=paginator.num_pages %}">Last</a>#}
{#  {% endif %}#}
{##}
{#  <p>Objects {{ page_obj.start_index }}&mdash;{{ page_obj.end_index }}</p>#}
{#{% endif %}#}


{#<div class="pagination">#}
{#    <span class="step-links">#}
{#        {% if page_obj.has_previous %}#}
{#            <a href="?{{ form_data_encoded }}&page={{ page_obj.previous_page_number }}">&lt;</a>#}
{#        {% else %}#}
{#            <a>&lt;</a>#}
{#        {% endif %}#}
{#        {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}#}
{#        {% if page_obj.has_next %}#}
{#            <a href="?{{ form_data_encoded }}&page={{ page_obj.next_page_number }}">&gt;</a>#}
{#        {% else %}#}
{#            <a>&gt;</a>#}
{#        {% endif %}#}
{#    </span>#}
{#</div>#}

