.container {
    border: 1px solid blue;
    padding: 2em;
    width: 300px;
    display: flex;
}

.box {
    background: lightcyan;
    padding: 1em;
    border: 1px solid black;
}

.container.flex-end {
    justify-content: flex-end;
}

.container.center {
    justify-content: center;
}

.container.space-evenly {
    justify-content: space-evenly;
}

.container.space-around {
    justify-content: space-around;
}

.container.space-between {
    justify-content: space-between;
}
