p.highlighted {
  color: dodgerblue;
  font-size: 18px;
}

div#special {
  background-color: orange;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.328);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.328);
  box-shadow: 3px 13x 5px 0px rgba(0, 0, 0, 0.328);
}

.fancy[href^="http"] {
  color: orange;
  border-bottom: 1px solid orange;
}

.subtitle.fancy {
  color: blue;
}

.important-item {
  font-weight: bold;
}

.important-item.first-level {
  color: aqua;
}

.important-item.second-level {
  font-style: italic;
  color: red;
}
