.section.section-main .wrapper > article {
    display: flex;
    flex-direction: column;
    background: var(--clr-white);
    padding: 2em;
    border-radius: 0.5em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.3);
    gap: 2em;
}

.section.section-main .wrapper > article > h2 {
    text-align: center;
}

.section.section-main .wrapper > article > h2:not(:first-child) {
    margin-top: 2em;
}

.section.section-main .wrapper > article > section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2em;
}

.section.section-main .wrapper > article > section > h3 {
    flex: 1 1 100%;
    text-align: center;
}

.section.section-main .wrapper > article > section section {
    flex: 0 1 25em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.section.section-main .wrapper > article > section section > h4 {
    flex: 1 1 100%;
    text-align: center;
}

.section.section-main .wrapper > article > section section div.container {
    width: 18em;
    flex-grow: 0;
    flex-shrink: 1;
    display: flex;
    background: var(--clr-yellow);
    box-shadow: 0 0 0.5em 0 rgb(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    padding: 1em;
    gap: 0.5rem;
    align-items: flex-start;
}

.section.section-main .wrapper > article > section section div.container div {
    padding: 0.5em 1.4em;
    color: var(--clr-black);
    background: var(--clr-pink);
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 0 0.8em 0 rgb(0, 0, 0, 0.2), 0 0 0.5em 0 rgb(0, 0, 0, 0.2) inset;
    outline: 0.1em solid var(--clr-white);
    text-align: center;
}

.section.section-main
    .wrapper
    > article
    > section
    section
    div.container.flex-direction-row-reverse {
    flex-direction: row-reverse;
}

.section.section-main .wrapper > article > section section div.container.flex-direction-column {
    flex-direction: column;
}

.section.section-main
    .wrapper
    > article
    > section
    section
    div.container.flex-direction-column-reverse {
    flex-flow: column-reverse;
}

.section.section-main .wrapper > article > section section div.container.flex-wrap-no-wrap {
    flex-wrap: nowrap;
}

.section.section-main .wrapper > article > section section div.container.flex-wrap-wrap {
    flex-wrap: wrap;
}

.section.section-main .wrapper > article > section section div.container.flex-wrap-wrap-reverse {
    flex-wrap: wrap-reverse;
}

.section.section-main .wrapper > article > section section div.container.justify-content,
.section.section-main .wrapper > article > section section div.container.justify-content.center {
    height: 16em;
    position: relative;
}

.section.section-main
    .wrapper
    > article
    > section
    section
    div.container.justify-content.flex-start {
    flex-direction: column;
}

.section.section-main
    .wrapper
    > article
    > section
    section
    div.container.justify-content.flex-start::before,
.section.section-main
    .wrapper
    > article
    > section
    section
    div.container.justify-content.center::before {
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-60%, -60%);
    width: 0.08em;
    height: 13em;
    background: var(--clr-dark-red);
    content: '  Main Axis';
    white-space: pre;
    color: var(--clr-dark-red);
}

.section.section-main
    .wrapper
    > article
    > section
    section
    div.container.justify-content.center::before {
    content: '  Cross Axis';
}

.section.section-main
    .wrapper
    > article
    > section
    section
    div.container.justify-content.flex-start::after,
.section.section-main
    .wrapper
    > article
    > section
    section
    div.container.justify-content.center::after {
    position: absolute;
    top: 54%;
    left: 60%;
    transform: translate(-54%, -60%);
    width: 13em;
    height: 0.08em;
    background: var(--clr-dark-red);
    content: '  Cross Axis';
    white-space: pre;
    color: var(--clr-dark-red);
}

.section.section-main
    .wrapper
    > article
    > section
    section
    div.container.justify-content.center::after {
    content: '  Main Axis';
}

.section.section-main
    .wrapper
    > article
    > section
    section
    div.container.justify-content.flex-start
    div:first-child,
.section.section-main
    .wrapper
    > article
    > section
    section
    div.container.justify-content.center
    div:first-child {
    position: relative;
    overflow: visible;
}

.section.section-main
    .wrapper
    > article
    > section
    section
    div.container.justify-content.flex-start
    div:first-child::before,
.section.section-main
    .wrapper
    > article
    > section
    section
    div.container.justify-content.center
    div:first-child::before {
    position: absolute;
    top: 0;
    left: 4.6em;
    content: 'Flex-Direction: Column';
    white-space: pre;
    color: var(--clr-dark-purple);
}

.section.section-main
    .wrapper
    > article
    > section
    section
    div.container.justify-content.center
    div:first-child::before {
    content: 'Flex-Direction: Row';
    top: 4em;
    left: -3em;
    color: var(--clr-dark-purple);
}

.section.section-main .wrapper > article > section section div.container.justify-content.center {
    justify-content: center;
    flex-direction: row;
}

@media (max-width: 927px) {
    .section.section-main .wrapper > article > section {
        justify-content: center;
    }
}

@media (max-width: 565px) {
    .section.section-main .wrapper > article > h2,
    .section.section-main .wrapper > article > section > h3,
    .section.section-main .wrapper > article > section section > h4 {
        text-align: left;
    }

    .section.section-main .wrapper > article > section section {
        justify-content: flex-start;
    }
}
