.section.section-main .wrapper > article {
    display: flex;
    flex-direction: column;
    background: var(--clr-white);
    padding: 2em;
    border-radius: 0.5em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.3);
    gap: 2em;
}

.section.section-main .wrapper > article > h2 {
    text-align: center;
}

.section.section-main .wrapper > article > h2:not(:first-child) {
    margin-top: 2em;
}

.section.section-main .wrapper > article > section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2em;
}

.section.section-main .wrapper > article > section > h3 {
    flex: 1 1 100%;
    text-align: center;
}

.section.section-main .wrapper > article > section section {
    flex: 0 1 25em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.section.section-main .wrapper > article > section section > h4 {
    flex: 1 1 100%;
    text-align: center;
}

.section.section-main .wrapper > article > section section div.container {
    width: 19em;
    flex-grow: 0;
    flex-shrink: 1;
    display: flex;
    background: var(--clr-yellow);
    box-shadow: 0 0 0.5em 0 rgb(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    padding: 1em;
    gap: 0.5rem;
    align-items: flex-start;
}

.section.section-main .wrapper > article > section section div.container div {
    padding: 0.5em 1.4em;
    color: var(--clr-black);
    background: var(--clr-pink);
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 0 0.8em 0 rgb(0, 0, 0, 0.2), 0 0 0.5em 0 rgb(0, 0, 0, 0.2) inset;
    outline: 0.1em solid var(--clr-white);
    text-align: center;
    align-items: stretch;
}

.section.section-main
    .wrapper
    > article
    > section
    section
    div.container.flex-direction-row-reverse {
    flex-direction: row-reverse;
}

.section.section-main .wrapper > article > section section div.container.flex-direction-column {
    flex-direction: column;
}

.section.section-main
    .wrapper
    > article
    > section
    section
    div.container.flex-direction-column-reverse {
    flex-flow: column-reverse;
}

.section.section-main .wrapper > article > section section div.container.flex-wrap-no-wrap {
    flex-wrap: nowrap;
}

.section.section-main .wrapper > article > section section div.container.flex-wrap-wrap {
    flex-wrap: wrap;
}

.section.section-main .wrapper > article > section section div.container.flex-wrap-wrap-reverse {
    flex-wrap: wrap-reverse;
}

@media (max-width: 927px) {
    .section.section-main .wrapper > article > section {
        justify-content: center;
    }
}

@media (max-width: 565px) {
    .section.section-main .wrapper > article > h2,
    .section.section-main .wrapper > article > section > h3,
    .section.section-main .wrapper > article > section section > h4 {
        text-align: left;
    }

    .section.section-main .wrapper > article > section section {
        justify-content: flex-start;
    }
}
