.section.section-main .wrapper > article {
    display: flex;
    flex-direction: column;
    background: var(--clr-white);
    padding: 2em;
    border-radius: 0.5em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.3);
}

.section.section-main .wrapper > article > h2 {
    text-align: center;
}

.section.section-main .wrapper > article > h2:not(:first-child) {
    margin-top: 2em;
}

.section.section-main .wrapper > article > section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section.section-main .wrapper > article > section > h3 {
    flex: 1 1 100%;
}

.section.section-main .wrapper > article > section section {
    flex: 0 1 400px;
    display: flex;
    flex-direction: column;
}

.section.section-main .wrapper > article > section section div.container {
    max-width: 320px;
    display: flex;
    background: var(--clr-yellow);
    box-shadow: 0 0 0.5em 0 rgb(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    padding: 1em;
    gap: 0.5rem;
}



.section.section-main .wrapper > article > section section div.container div {
    padding: 0.75em 1.5em;
    color: var(--clr-black);
    background: var(--clr-pink);
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 0 0.8em 0 rgb(0, 0, 0, 0.2), 0 0 0.5em 0 rgb(0, 0, 0, 0.2) inset;
    outline: 0.1em solid var(--clr-white);
    text-align: center;
}

.section.section-main
    .wrapper
    > article
    > section
    section
    div.container.flex-direction-row-reverse {
    flex-direction: row-reverse;
}

.section.section-main .wrapper > article > section section div.container.flex-direction-column {
    flex-direction: column;
}

.section.section-main
    .wrapper
    > article
    > section
    section
    div.container.flex-direction-column-reverse {
    flex-flow: column-reverse;
}

.section.section-main
    .wrapper
    > article
    > section
    section
    div.container.flex-wrap-no-wrap {
    flex-wrap: nowrap;
}

.section.section-main
    .wrapper
    > article
    > section
    section
    div.container.flex-wrap-wrap {
    flex-wrap: wrap;
}

.section.section-main
    .wrapper
    > article
    > section
    section
    div.container.flex-wrap-wrap-reverse {
    flex-wrap: wrap-reverse;
}
