@import url('https://fonts.cdnfonts.com/css/tisa-sans-pro');

html {
    font: clamp(10px, 4dvw, 16px) / 1.4 'Tisa Sans Pro', sans-serif;
    font-variant-caps: small-caps;
}

h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.2em;
}

h1,
h2,
h3,
h4 {
    font-weight: normal;
    margin-bottom: 0.5em;
}
