.register-box {
  width: calc(100vw - 392px);
  margin-left: 100px;
  margin-right: 100px;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.input-container-left {
  width: calc(50% - 20px);
  margin-right: 20px;
}

.input-container-right {
  width: calc(50% - 20px);
  margin-left: 20px;
}

.input-container-left, .input-container-right {
  margin-bottom: 20px;
}

.input-field-container {
  height: 50px;
}

.required-fields {
  display: block;
  width: 100%;
  text-align: right;
  font-style: italic;
  font-size: 12px;
  padding-top: 0;
}

.password-requirements-title {
  font-size: 14px;
  margin-bottom: 10px;
}