.container {
    border: 1px solid blue;
    padding: 2em;
    width: 300px;
    display: flex;
}

.box {
    background: lightcyan;
    padding: 1em;
    border: 1px solid black;
}

.container.row-reverse {
    flex-direction: row-reverse;
}

.container.column {
    flex-direction: column;
}

.container.column-reverse {
    flex-direction: column-reverse;
}
