.jewelry-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px 32px;
    padding: 12px 36px;
    text-align: center;
}

.jewelry-card {
    border-radius: 12px;
    overflow: hidden;
    border-style: dotted;
    border-color: #fff8fa;
    font-size: 0;
}

.jewelry-card-thumbnail {
    aspect-ratio: 1 / 1;
    border-radius: 12px;
    background-color: #fff8fa;
    position: relative;
}

.jewelry-card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.jewelry-card .jewelry-card-content {
    position: absolute;
    /*bottom: -100%;*/
    /*bottom: -441px;*/
    left: 0;
    width: 100%;
    font-size: 18px;
    color: #040720;
    padding: 12px;
    transition: bottom 300ms linear;

background: rgb(4,7,32);
background: linear-gradient(0deg, rgba(4,7,32,0.9262298669467787) 0%, rgba(255,183,206,0.7413559173669468) 30%, rgba(255,248,250,0) 63%);
}

.jewelry-card .jewelry-card-meta{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: #040720;
    margin-bottom: 12px;
}

.jewelry-card .jewelry-card-description {
    height: 180px;
    overflow: hidden;
}

.jewelry-card:hover .jewelry-card-content{
        /*top: 0px;*/
    bottom: 0px;
}

