.order-details-section {
    font-size: 18px;
    color: black;
    text-align: left;
    padding: 16px 32px;
    /*border-bottom: 2px solid #ffa6c9;*/
}

.order-title-content {
    font-size: 18px;
    margin-bottom: 32px;
}

.order-details-wrapper{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}