* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 2em;
}

html {
  font: 14px/1.5 Lato, sans-serif;
}

body,
input,
select,
option,
button,
textarea {
  font: inherit;
}

form {
  max-width: 700px;
  margin: 0 auto;
  padding: 2em;
  background: white;
  border-radius: 0.3em;
}

form h2 {
  margin-bottom: 1rem;
}

fieldset {
  border: 1px solid lightgray;
  padding: 2em;
  border-radius: 0.3em;
  margin-bottom: 2em;
}

fieldset legend {
  padding: 0 1em;
  margin-left: -1em;
  font-weight: bold;
}

form ul li {
  list-style: none outside;
}

label {
  font-weight: bold;
}

.field {
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
}

.field-radio ul {
  display: flex;
  flex-wrap: wrap;
}

.radio-group {
  border: 1px solid lightgray;
  border-radius: 0.3em;
  padding: 2em;
}

.field-radio ul li {
  flex: 1 1 100px;
  text-align: center;
}

.field-radio ul li label {
  padding-left: 0.1em;
}
