@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font: 14px/1.5, sans-serif;
}

body,
input,
textarea,
button {
  font: inherit ;
}

body {
  padding: 2em;
  background: #24333C;
}

/* get the px for padding from figma and divide it into 14px to get it in ems */
