{% load has_profile %}

<nav>
    
    <!-- If there is a traveler's profile -->
    {% has_profile as profile %}
    
    {% if profile %}
    <div class="user">
        <a href="{% url 'trip-list' %}">All Trips</a>
        <a href="{% url 'trip-create' %}">Share Trip</a>
        <a href="{% url 'traveler-detail' %}">Traveler's Profile</a>
    </div>
    
    <!-- If the traveler's profile has NOT been created -->
    {% else %}
    <div class="guest">
        <a href="{% url 'traveler-create' %}">New Traveler's Profile</a>
    </div>
    {% endif %}
</nav>